.uol-homepage-hero {
  color: $white;
  display: flex;
  font-family: verdana;
  height: calc(100vh - 8rem);
  min-height: 66rem;
  justify-content: center;
  margin-bottom: 0;
  position: relative;
  z-index: 11;


  &__img-container {
    background: #747678;
    height: auto;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
    }
  }


  &__content-container {
    align-self: center;
    pointer-events: none;
    position: absolute;
    width: 100%;

    > div {
      margin: 0 auto;
      max-width: 1170px;
      padding: 0 20px;
      width: 100%;

      h1,
      .tag {
        color: $white;
        font-family: var(--#{$prefix}body-font-family);
      }

      h1 {
        font-size: 4rem;
        font-weight: bold;
        line-height: 1.1;
        margin-top: 5rem;
        margin-bottom: 0;
        max-width: 63rem;
        position: relative;
        z-index: 1;
      }

      .tag {
        font-size: 1.6rem;
        font-weight: 600;
        margin: 1rem 0 4rem;
        letter-spacing: inherit;
        text-transform: unset;
      }

      > div {         
        display: block;
        width: 100%;       
      }
        
    }

  }

  &__play {
    position: absolute;
    top: auto;
    left: 1.5rem;
    bottom: 1.5rem;
  }


  &__overlay { 
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;

    &--light {
      background: rgba(0, 0, 0, 0.2);
    }

    &--dark {
      background: rgba(0, 0, 0, 0.4);
    }

  }

}


@media (min-width: $uol-breakpoint-xs) {

  .uol-homepage-hero {
    height: calc(100vh - 165px);
  }

}

@media (min-width: $uol-breakpoint-md) {

  .uol-homepage-hero {
    height: calc(100vh - 116px);

    &__content-container {

      > div {

        h1 {
          font-size: 5rem;
          margin-bottom: 1rem;
        }
  
        .tag {
          font-size: 1.7rem;
        }
      }

    }

  }

}






@media (min-width: $uol-breakpoint-lg) {

  .uol-homepage-hero {
    height: calc(100vh - 116px);

    &_content-container {

      > div {

        h1 {
          font-size: 6rem;
        }

        .tag {
          font-size: 1.875rem;
        }

      }

    }

  }
  
}



@media (min-width: $uol-breakpoint-xl) {
  .uol-homepage-hero {
    height: 60rem;
  }
}












