.uol-pullquote { 
  align-items: stretch;
  display: $uol-display-flex-imp;
  flex-direction: column-reverse;
  margin: 0 auto;
  width: 100%; 

  &__copy {
    max-width: 100%;
    padding: 2rem 2rem 5rem;
    position: relative;
    z-index: 1;

    h2,
    p {
      color: $white;
    }

    h2 {
      margin: 0 0 1rem;
      &:not(&:last-of-type) {
        font-style: italic;
        margin-bottom: 2rem;
      } 
      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 1rem;
      }
    }// End h2

    p {
      &:first-of-type{
        margin-top: -1rem;
        margin-bottom: 2rem;
      }
    }

    &:after {
      @extend %clip-path;  
      content: "";
      display: block;
      height: 100%;
      left: 0;
      min-height: max-content;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;     
    }

  }// End &__copy


  &__img {
    max-width: 100%;
    position: relative;
    z-index: 0;

    picture,
    img {
      display: block;     
      max-width: 100%;
      width: 100%;
    }

    img {
      object: {
        fit: cover;
        position: top center;
      }     
    }

    .uol-pullquote-video_btn {
      @extend %uol-video-button;
      svg {
        fill: none;
        height: 6rem;
        width: 6rem;
        path {
          fill: $bg-color-white-default;
        }
        circle {
          stroke: bg-color-white-default;
          stroke-width: .4rem;
        }
      }
    }
     
  }// end __img

  &--reversed {
    .uol-pullquote__copy {
      &:after {
        @extend %clip-path--reversed;
      }
    }
  }

}



// START BREAKPOINTS

@media (min-width: $uol-breakpoint-xl) {

  .uol-pullquote {   
    align-items: center;
    flex-direction: row;
    justify-content: end;
    max-width: 100%;
    position: relative;

    &__copy {
      margin: 0;
      transform: translateX(0);
      //max-width: calc(50% + 45px);
      width: calc(50% + 45px);
      left: 0;
      position: absolute;
    }
  
    &__img {
      max-width: 50%;
      picture,
      img {
        min-height: 42.6rem;
        max-height: 42.6rem;
      }
    }

    &--reversed {
      flex-direction: row-reverse;
      justify-content: start;

      .uol-pullquote__copy {
        position: absolute;
        left: calc(50% - 45px);
        max-width: calc(50% + 45px);
      }

      .uol-pullquote__img {
        transform: translateX(0px);
        max-width: calc(50% + 45px);
      }     
    }

  }

}

// END BREAKPOINTS


// START COLOURS

@each $key, $bgCol, $bgHoverCol, $fontCol  in  $uol-colors-multi {
  .uol-pullquote__copy--#{$key} {
    @extend .uol-pullquote__copy;
    &:after {
      background-color: $bgCol;
    }
  }    
}// End @each

// END COLOURS
 