
#uol-breadcrumbs { 
  &.uol-breadcrumbs {
    @each $key, $val in  $uol-bg-main-colours {
      &--#{$key} {
        background-color: $val;
      }
    }
  }
  .breadcrumbs {
    margin: 1rem 0;
    .breadcrumb-list {
      ul {
        list-style: none;
        padding-inline-start: 0;
        li {
          color: $uol-white-font-default;
          display: inline;
          a {
            color: $uol-white-font-default;     
            &:hover { 
              color: $uol-white-font-default-hover; 
              text-decoration: underline;
            }      
          }
          // Add a slash symbol (/) before/behind each list item 
          + li {
            &:before {
              padding: .8rem;
              font-size: 1.2rem;
              content: "\003E";
            }
          }
        }
      }
    }
  }  
}