
.uol-callout {
  @extend %container-constraint;
  margin: 0 auto;
  padding: 2rem;
  display: $uol-display-flex-imp;
  flex-direction: column;

  .uol-t2 {
    margin-bottom: 0;
    + .uol-button {
      @extend %mt-2;
    }
  }
  .uol-h2 {
    @extend %width-100;
  }

}



@media (min-width: $uol-breakpoint-sm) {

  .uol-callout {
    gap: 6rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .uol-h2 {
      width: 11ch;
    }
  }

  .uol-callout_copy {
    max-width: 50%;
  }
}

@media (min-width: $uol-breakpoint-l) {
  .uol-callout {
    padding: 2rem 0;
  }
}

