//Colours


//Core Pallette
//Gradiant colours are taken from https://paletton.com/ (Monochromatic)

//Uni Blue (Dark Blue)
$uol-uni-blue: #002147;
$uol-uni-blue-10-opacity: rgba(0,33,71,.1);
$uol-uni-blue-20-opacity: rgba(0,33,71,.2);
$uol-uni-blue-30-opacity: rgba(0,33,71,.3);
$uol-uni-blue-40-opacity: rgba(0,33,71,.4);
$uol-uni-blue-50-opacity: rgba(0,33,71,.5);
$uol-uni-blue-hover: #002b5c;
$uol-uni-blue-gradiant-1: #5a6d98; // Blue Grey 
$uol-uni-blue-gradiant-2: #a7b0Cb; // Ice Blue 

// Uni Grey
$uol-cool-grey: #747678;
$uol-cool-grey-10-opacity: rgba(116,118,120,.1);
$uol-cool-grey-20-opacity: rgba(116,118,120,.2);
$uol-cool-grey-30-opacity: rgba(116,118,120,.3);
$uol-cool-grey-40-opacity: rgba(116,118,120,.4);
$uol-cool-grey-50-opacity: rgba(116,118,120,.5);
$uol-cool-grey-hover: #595c5f;
$uol-cool-grey-gradiant-1: #929394;
$uol-cool-grey-gradiant-2: #c4c4c5;

//Uni Teal
$uol-teal: #047e8b; 
$uol-teal-10-opacity: rgba($uol-teal, 10%);
$uol-teal-20-opacity: rgba($uol-teal, 20%);
$uol-teal-30-opacity: rgba($uol-teal, 30%);
$uol-teal-40-opacity: rgba($uol-teal, 40%);
$uol-teal-50-opacity: rgba($uol-teal, 50%);
$uol-teal-link: #047986; // Added as #047e8b failed contrast checks on light grey background 
$uol-teal-hover: #036873; 
$uol-teal-gradiant-1: #7fc0c0;
$uol-teal-gradiant-2: #a9d2d3; //Aqua 

// Uni Magenta
$uol-magenta: #db1a72;
$uol-magenta-10-opacity: rgba($uol-magenta, 10%);
$uol-magenta-20-opacity: rgba($uol-magenta, 20%);
$uol-magenta-30-opacity: rgba($uol-magenta, 30%);
$uol-magenta-40-opacity: rgba($uol-magenta, 40%);
$uol-magenta-50-opacity: rgba($uol-magenta, 50%);
$uol-magenta-hover: #ad1459;
$uol-magenta-visited: #ae1459;
$uol-magenta-gradiant-1: #e04089;
$uol-magenta-gradiant-2: #e969a3;

/* Set Focus Colours */   
$uol-focus-yellow: #fd0;
$uol-focus-black: #0b0c0c; 

// Set font colours
$uol-black-default: #333;
$uol-black-100: #171717;
$uol-black-200: #404040;
$uol-black-300: #5e5e5e;
$uol-black-400: #d4d4d4;

$uol-white-default: #fff;
$uol-white-100: #fafafa;
$uol-white-200: #f5f5f5;
$uol-white-300: #e5e5e5;
$uol-white-400: $uol-black-400;


// Set Social Media Colours
$uol-facebook: #3b5998;
$uol-twitter: #0a78c2;
$uol-linkedin: #0976b4;
$uol-youtube: #cd201f;
$uol-googlePlus: #cc3732;
$uol-instagram: #3f729b;
$uol-flickr: #ff0084;
$uol-vine: #00b489;
$uol-weibo: #e6162d;
$uol-pinterest: #cb2027;
$uol-blogger: #f57d00;
$uol-wordpress: #1e8cbe;
$uol-vimeo: #1ab7ea;
$uol-globe: #002147;

// Random Colours
$uol-light-grey: #f1f1f1;



