// Font Colours
%uol-white-font-default { color: $uol-white-default; }
%uol-white-font-default-hover { color: $uol-white-400; }

%uol-dark-font-default { color: $uol-black-default; }

%uol-font-color-primary { color: $uol-primary; }
%uol-font-color-secondary { color: $uol-primary; }
%uol-font-color-accent-primary { color: $uol-primary; }
%uol-font-color-accent-secondary  { color: $uol-primary; }