// Border Colours
%border-color-primary { border-color: $uol-primary; }
%border-color-secondary { border-color: $uol-primary; }
%border-color-accent-primary { border-color: $uol-primary; }
%border-color-accent-secondary  { border-color: $uol-primary; }
%border-color-white-default { border-color: $uol-white-default;}

// Border Colours for Buttons
%border-color-primary-btn { border-color: $uol-primary-btn; }
%border-color-secondary-btn { border-color: $uol-secondary-btn; }
%border-color-accent-primary-btn { border-color: $uol-accent-primary-btn; }
%border-color-accent-secondary-btn { border-color: $uol-accent-secondary-btn; }
