  //Placeholders 

  @import "placeholders-font";
  @import "placeholders-font-colour";
  @import "placeholders-background-colour";
  @import "placeholders-border-colour";
  @import "placeholders-widths";

  %uol-padding-y-default { padding: $uol-componant-padding-default 0; }




  %container-constraint {
    max-width: $uol-container-constraint;
  }

  %wrapper-constraint {
    max-width: $uol-container-constraint;
    margin: 0 auto;
    width: 100%;
    padding: 0 1.5rem;
  }

  %uol-large-heading-common {
    @extend %uol-font-family-headings;
    color: $uol-black-default;   
    font-weight: 400;
    margin-bottom: 1.2rem;
  }

  %hoverState {
    background-color:rgba(0,33,71,.1);
    transition:background-color .6s ease;
  }

  %hoverStateBtn {
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    opacity:0;
    background-color:transparent;
    transition:opacity .3s ease,background-color .3s ease;
  }


  //Image Container

  %imgBackgroundSize {
    background-size:cover;
  }

  %imgContainer {
    @extend %imgBackgroundSize;
    background-position:center;
    background-repeat:no-repeat
  }

  // Overlay
  %overlay {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
  }

  //Clip Path

  %clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  }

  %clip-path--reversed {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }


  // Video Button
  %uol-video-button {
    border: 0;
    -moz-appearance: none;
    background: 0 0;
    fill: #fff;
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    padding: 0;
    cursor: pointer;
    background-color: rgba(0,33,71,.4);
    transition: opacity .3s ease;
  }



