// Primary Background Colours
%bg-color-primary { background-color: $uol-primary; }
%bg-color-primary-hover { background-color: $uol-primary-hover; }
%bg-color-primary-btn { background-color: $uol-primary-btn; }
%bg-color-primary-btn-hover { background-color: $uol-primary-btn-hover; }

// Secondary Background Colours
%bg-color-secondary { background-color: $uol-secondary; }
%bg-color-secondary-hover { background-color: $uol-secondary-hover; }
%bg-color-secondary-btn { background-color: $uol-secondary-btn; }
%bg-color-secondary-btn-hover { background-color: $uol-secondary-btn-hover; }

// Accent Primary Background Colours
%bg-color-accent-primary { background-color: $uol-accent-primary; }
%bg-color-accent-primary-hover { background-color: $uol-accent-primary-hover; }
%bg-color-accent-primary-btn { background-color: $uol-accent-primary-btn; }
%bg-color-accent-primary-btn-hover { background-color: $uol-accent-primary-btn-hover; }

// Accent Secondary Background Colours
%bg-color-accent-secondary { background-color: $uol-accent-secondary; }
%bg-color-accent-secondary-hover { background-color: $uol-accent-secondary-hover; }
%bg-color-accent-secondary-btn { background-color: $uol-accent-secondary-btn; }
%bg-color-accent-secondary-btn-hover { background-color: $uol-accent-secondary-btn-hover; }


// White Background Colors
%bg-color-white-default { background-color: $uol-white-default; }


