$uol-pt-0: 0;
$uol-pt-1: 1rem;
$uol-pt-2: 2rem;
$uol-pt-3: 3rem;
$uol-pt-4: 4rem;
$uol-pt-5: 5rem;

$uol-pr-0: 0;
$uol-pr-1: 1rem;
$uol-pr-2: 2rem;
$uol-pr-3: 3rem;
$uol-pr-4: 4rem;
$uol-pr-5: 5rem;

$uol-pb-0: 0;
$uol-pb-1: 1rem;
$uol-pb-2: 2rem;
$uol-pb-3: 3rem;
$uol-pb-4: 4rem;
$uol-pb-5: 5rem;

$uol-pl-0: 0;
$uol-pl-1: 1rem;
$uol-pl-2: 2rem;
$uol-pl-3: 3rem;
$uol-pl-4: 4rem;
$uol-pl-5: 5rem;

$uol-py-0: 0;
$uol-py-1: 1rem;
$uol-py-2: 2rem;
$uol-py-3: 3rem;
$uol-py-4: 4rem;
$uol-py-5: 5rem;

$uol-componant-padding-default: 2.5rem;


