  //Variables

  @import "variables-breakpoints";
  @import "variables-colours";
  @import "variables-flex";
  @import "variables-margins";
  @import "variables-padding";
  
  //Fonts
  $uol-font-primary: Verdana, Arial, sans-serif;
  $uol-font-headings: Georgia, serif;
  $uol-font-size-html: 62.5%;

  //Type Scale 
  $uol-font-size-default: 1.6rem;
  $uol-font-size-xs: 2rem;
  $uol-font-size-sm: 2.2rem;
  $uol-font-size-l: 2.6rem;
  $uol-font-size-xl: 3.2rem;
  $uol-font-size-xxl: 4rem; 
 
  //Container Constraint
  $uol-container-constraint: 117rem;

  //Overlays
  $uol-overlay-light: rgba(0, 0, 0, 0.2);
  $uol-overlay-medium: rgba(0, 0, 0, 0.3);
  $uol-overlay-dark: rgba(0, 0, 0, 0.4);

  // Main colour map (for stuff like background colour @each loops
  $uol-main-colours: (
    primary: $uol-primary,
    secondary: $uol-secondary,
    accent-primary: $uol-accent-primary,
    accent-secondary: $uol-accent-secondary
  );

  $backgroundColourSettings: ( 'primary', 'secondary', 'accent-primary', 'accent-secondary');