// Font Colours
$uol-white-font-default : $uol-white-default; 
$uol-white-font-default-hover : $uol-white-400; 

$uol-dark-font-default : $uol-black-default; 

$uol-font-color-primary : $uol-primary; 
$uol-font-color-secondary : $uol-secondary; 
$uol-font-color-accent-primary : $uol-accent-primary; 
$uol-font-color-accent-secondary : $uol-accent-secondary; 