
  @import "colours";

  $uol-primary: $uol-uni-blue; 
  $uol-primary-hover: $uol-uni-blue-hover; 
  $uol-primary-gradiant-1: $uol-uni-blue-gradiant-1;
  $uol-primary-gradiant-2: $uol-uni-blue-gradiant-2;
  $uol-primary-btn: $uol-teal;
  $uol-primary-btn-hover: $uol-teal-hover;

  $uol-secondary: $uol-teal;
  $uol-secondary-link: $uol-teal-link;
  $uol-secondary-hover: $uol-teal-hover;
  $uol-secondary-gradiant-1: $uol-teal-gradiant-1;
  $uol-secondary-gradiant-2: $uol-teal-gradiant-2;
  $uol-secondary-btn: $uol-uni-blue;
  $uol-secondary-btn-hover: $uol-uni-blue-hover;
  
  $uol-accent-primary: $uol-magenta;
  $uol-accent-primary-hover: $uol-magenta-hover;
  $uol-accent-primary-visited: $uol-magenta-visited;
  $uol-accent-primary-gradiant-1: $uol-magenta-gradiant-1;
  $uol-accent-primary-gradiant-2: $uol-magenta-gradiant-2;
  $uol-accent-primary-btn: $uol-magenta;
  $uol-accent-primary-btn-hover: $uol-magenta-hover;

  $uol-accent-secondary: $uol-cool-grey;
  $uol-accent-secondary-hover: $uol-cool-grey-hover;
  $uol-accent-secondary-gradiant-1: $uol-cool-grey-gradiant-1;
  $uol-accent-secondary-gradiant-2: $uol-cool-grey-gradiant-2;
  $uol-accent-secondary-btn: $uol-cool-grey;
  $uol-accent-secondary-btn-hover: $uol-cool-grey-hover;

  // Set Link Colours 
  $uol-link-colour: $uol-secondary-link;
  $uol-link-hover: $uol-secondary-hover;
  $uol-link-visited: $uol-accent-primary-visited;

  
