footer {
  background-color: $bg-color-primary;

  a {
    color: $uol-white-font-default;
    text-decoration: none;
    &:hover {
      color: $uol-white-font-default-hover;
      text-decoration: underline!important;
    }
  }

  ul {
    &.footer-links {
      display: block;
      list-style: none;
      padding-left: 0;
      text-align: left;
      li {
        display: inline-block;
        color: $uol-white-font-default ;
        &:after {
          content: "|";
          margin: 0 1rem;
        }
        &:last-child {
          &::after {
            content: " ";
          }
        }
      }
    }
  }

  .main-footer {
    margin-top: 4rem;
    ul {
      list-style: none;
      width: 100%;
      margin-left: 0;
      text-align: center;
      padding: 0;
      border-top: none;
      border-top: .1rem solid;
      border-color: rgba(128,128,128,0.4);
      li {
        font-family: $uol-font-primary;
        display: none;
        padding: 0.5rem 0;
        &:last-child {
          margin-bottom: 2rem;
        }
      }
      .menu-heading {
        display: block;
        margin-left: 0;
        cursor: default;
        text-transform: capitalize;
        span {
          color: $uol-white-font-default ;
          text-transform: uppercase;
          font-weight: 600;
          font-family: $uol-font-headings;
          font-size: 1.7rem;
          cursor: pointer !important;
          &:hover {
            cursor: text;
          }
        }
        
      }

      &.open {
        background-color: $bg-color-primary-hover;
        li {
          display: block;
        }
      }
    }
  }// end .main-footer

  .social {
    margin: 2rem 0;
    min-height: 5rem;
    p {
      text-align: center;
    }
    a {
      &.btn-info {
        border: none;
        background-color: #0b3878;
        height: 3rem;
        color: $uol-white-font-default ;
      }
    }
    ul {
      padding-left: 0;
      text-align: center;
      li {
        display: inline-block;
        padding-left: 0.5rem;
        img {
          height: 5rem;
          width: 5rem;
        }
      }
    }
  }// end .social

  #footer-legal {
    background-color: $bg-color-secondary ;
    color: $uol-white-font-default;
    padding: 1.5rem 0; 
    text-align:center;
    ul {
      list-style: none;
      &.footer-links {
        text-align: center;
      }
      li {
        display: inline-block;
        color: $uol-white-font-default;
        &:after {
          content: "|";
          margin: 0 1rem;
        }
        &:last-child {
          &:after {
            content: "";
              margin: 0 0 0 1rem;
          }
        }
        a {
          color: $uol-white-font-default;
          &:focus {
            color: $uol-white-font-default;
            font-weight: bold;
            text-decoration: underline;
            padding: 0;
            outline-offset: .4rem;
          }
        }
      }
    }
  }
  

}// end footer



@media screen and (min-width: $uol-breakpoint-s) {
  footer {
    .social {
      min-height: 8rem;
    }
  }
}

@media screen and (max-width: $uol-breakpoint-sm) {
  footer {
    #footer-legal {
      ul {
        li {
          display: block;
          margin-bottom: .5rem;
          &:after {
            content: "";
            margin: 0;
          }
        }
      }
    } 
  }
	
}

@media screen and (min-width: $uol-breakpoint-sm) {
  footer {
    .main-footer {
      column-count: 3;
      column-gap: 5rem;
      ul {
        margin: 0 1rem 1rem 0;
        padding-top: 1rem;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        border-top: 1px solid $uol-white-font-default;
        text-align: left;
        display: inline-block;
        li {
          display: block;
        }
        .menu-heading {
          span {
            text-transform: uppercase;
            font-weight: 600;
            font-family: $uol-font-headings;
            cursor: text !important;
          }
        }
      }
    }
  }
}


@media screen and (min-width: $uol-breakpoint-m) {

  footer {
    ul {
      &.footer-links {
        text-align: center;
        li {
          &:after {
            margin: 0 0.5rem;
          }
        }
      }
    }

    .social {
      a {
        &.btn-info {
          float: none;
          display: block;
          margin: 1rem 2rem;
        }
      }
      ul {
        float: none;
        text-align: center;
        padding-left: 0;
      }
    }// end .social
  }// end footer
  
}