.nav {
  margin: 1rem 0 0 0;
}
@media screen and (min-width: 992px) {
  .nav {
    margin: 1.5rem 0 0 0;
  }
}
.nav ul {
  list-style-type: none;
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
  border: none;
}
@media screen and (min-width: 992px) {
  .navbar-default {
    width: 580px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-default {
    width: 720px;
  }
}
.navbar-default .navbar-toggle {
  border: none;
  margin-top: 0;
  margin-left: 1.5rem;
  float: none;
}

@media screen and (min-width: 992px) {
  .search-box-col {
    width: 130px;
  }
}

.main-nav {
  min-width: 100vw;
  position: absolute;
  z-index: 30;
  background-color: #fff;
  left: 0;
}
@media screen and (min-width: 768px) {
  .main-nav {
    min-width: 400%;
    max-width: 400%;
  }
}
@media screen and (min-width: 992px) {
  .main-nav {
    /*min-width: auto;/*  /* Replaced with min-width: 0 as auto not working with safari (KT - 05 Feb 18) */
	min-width: 0;
    max-width: auto;
    position: relative;
    margin-top: 0;
  }
}
@media all and (min-width: 992px) {
  .main-nav.no-js li > ul {
    display: none;
  }
  .main-nav.no-js li:last-of-type {
    display: none;
  }
}
.main-nav li {
  padding: 0 2rem;
  float: none;
}
@media screen and (min-width: 992px) {
  .main-nav li {
    float: left;
    min-height: 7rem;
  }
}
.main-nav li a {
  text-transform: uppercase;
  color: #072249 !important;
  display: block;
}
.main-nav li em {
  float: right;
  margin-top: -3.9rem;
  margin-right: 1rem;
  display: block;
  padding: 1rem;
}
@media screen and (min-width: 992px) {
  .main-nav li em {
    display: none;
  }
}
.main-nav li > a {
  font-size: 1.6rem;
}
@media screen and (min-width: 992px) {
  .main-nav:not(.uol-nav .main-nav) > li:hover .mega-me {
    display: block !important;
  }
}

.mega-me {
  display: none;
  width: 100%;
  background: #efefef;
  position: relative;
  left: 0;
  margin-top: 0;
  margin-bottom: 2rem;
  z-index: 100;
}
.mega-me:before, .mega-me:after {
  content: " ";
  display: table;
}
.mega-me:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .mega-me .container {
    width: auto;
  }
}
@media screen and (min-width: 992px) {
  .mega-me .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .mega-me .container {
    width: 1170px;
  }
}
@media screen and (min-width: 992px) {
  .mega-me {
    width: 100vw;
    position: fixed;
    left: 0;
    margin-top: 1.8rem;
    padding-bottom: 3rem;
  }
}
.mega-me a {
  margin: 1rem;
}
.mega-me div > ul {
  width: 100%;
  display: block;
  padding: 0;
}
@media all and (min-width: 992px) {
  .mega-me div > ul {
    margin-top: 3rem;
    width: 16.666%;
    float: left;
  }
}
.mega-me .menu-heading {
  border-bottom: 1px solid #919191;
}
.mega-me .menu-heading > a {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #072249;
}
.mega-me .menu-heading ul {
  width: 100%;
  padding: 0;
}
.mega-me .menu-heading li a {
  color: #666 !important;
  text-transform: none;
}

.logo img {
  width: 90%;
}

.top-links {
  display: none;
}
@media screen and (min-width: 768px) {
  .top-links {
    margin-top: 0;
    float: right;
  }
}
.top-links .search-form {
  float: right;
  border-bottom: 1px dotted #B8B8B8;
}
@media screen and (min-width: 992px) {
  .top-links .search-form {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .top-links .search-form {
    margin-top: .55rem;
    width: 100%;
  }
}
.top-links .search-form:hover {
  border-bottom: 1px dotted #072249;
}
.top-links span {
  float: right;
  font-size: 11px;
  text-align: right;
}
.top-links span a {
  font-size: 11px;
  color: #888;
}
.top-links input {
  padding: .5rem 0 .25rem .25rem;
  border: none;
  width: 5.7rem;
  font-size: 90%;
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .top-links input {
    width: 10rem;
    padding-left: .75rem;
    padding-right: .75rem;
    font-size: 100%;
  }
}
.top-links a.dropdown-toggle {
  text-transform: capitalize;
}
.top-links form button {
  border: none;
  background: #fff;
  padding-left: 0;
  padding-right: 0;
}
.top-links form .glyphicon-search {
  display: inline-block;
  margin-right: 5px;
}
.top-links ul.portal-list li.portal,
.top-links .top-links .portal-list i.caret:before {
  margin-top: -2rem;
}
.top-links .glyphicon {
  color: #888;
  top: 2px;
  padding-left: 4px;
}

.mobile-search .glyphicon-search {
  font-size: 2rem;
}

.mobile-search-navbar {
  position: fixed;
  width: 100vw;
  left: 0;
  z-index: 100;
  padding: 2rem;
  background: #fff;
}
@media screen and (min-width: 992px) {
  .mobile-search-navbar.navbar-collapse.collapse {
    display: none !important;
  }
}

@media all and (-ms-high-contrast: none) {
  .top-links form .glyphicon-search {
    position: relative;
    float: none;
  }

  /* IE10 */
  *::-ms-backdrop, .top-links form .glyphicon-search {
    float: none;
  }

  /* IE11 */
  *::-ms-backdrop, .top-links input {
    color: #888;
    float: left;
  }
}
@media screen and (min-width: 450px) {
  .main-nav {
    margin-top: 30px;
  }

  .navbar-default .navbar-toggle {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .main-nav {
    margin-top: 0;
  }
}
@media screen and (min-width: 620px) {
  .navbar-default .navbar-toggle {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .main-nav li {
    float: left;
    padding: 0;
  }

  .main-nav .mega-me div > ul,
  .portal-list .mega-me div > ul {
    margin-top: 3rem;
  }

  .main-nav .mega-me div > ul > li > ul > li {
    min-height: auto;
  }

  .main-nav li a {
    border-bottom: none;
    font-size: 1.6rem;
  }

  .navbar-default .navbar-nav > li > a {
    color: #072249;
    font-size: 1.12rem;
  }

  .navbar-nav li ul li.menu-heading {
    border-bottom: none;
    width: 100%;
  }

  .main-nav.navbar-nav li ul li.menu-heading a,
  .portal-list li.portal ul li.menu-heading a {
    font-size: 1.6rem;
    margin: 0 1rem;
    margin-bottom: 0.75rem;
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  .main-nav.navbar-nav li ul li.menu-heading a,
  .portal-list li.portal ul li.menu-heading a {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 992px) and (min-width: 1200px) {
  .main-nav.navbar-nav li ul li.menu-heading a,
  .portal-list li.portal ul li.menu-heading a {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 992px) and (min-width: 992px) {
  .main-nav.navbar-nav li ul li.menu-heading > a {
    border-bottom: 1px dotted #072249;
  }
}

@media screen and (min-width: 992px) and (min-width: 992px) {
  .main-nav.navbar-nav li ul li.menu-heading > a.duplicate {
    margin-left: 0;
    padding-left: 1rem;
  }
}

@media screen and (min-width: 992px) and (min-width: 992px) {
  .main-nav.navbar-nav li ul li.menu-heading > a.pre-duplicate {
    margin-right: 0;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .main-nav.navbar-nav li ul li.menu-heading ul li {
    margin: .5rem 1rem .5rem 1rem;
    float: none;
  }

  .main-nav.navbar-nav li ul li.menu-heading ul li a,
  .portal-list li.portal ul li.menu-heading ul li a {
    margin: 0.25rem 0;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  .main-nav.navbar-nav li ul li.menu-heading ul li a,
  .portal-list li.portal ul li.menu-heading ul li a {
    border-bottom: 1px dotted #d0d0d0;
    padding-bottom: .5rem;
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .main-nav.navbar-nav li ul li.menu-heading ul li a:hover,
  .portal-list li.portal ul li.menu-heading ul li a:hover {
    color: #072249 !important;
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  .main-nav.navbar-nav li ul li.menu-heading ul li:last-of-type a,
  .portal-list li.portal ul li.menu-heading ul li:last-of-type a {
    border-bottom: none;
    padding-bottom: .5rem;
  }
}

@media screen and (min-width: 992px) {
  .mobile-search {
    display: none;
  }

  .top-links {
    display: block;
    width: 100%;
  }

  .top-links ul.portal-list li.portal {
    margin-top: -2rem;
    height: 6rem;
  }
  .top-links ul.portal-list li.portal span {
    font-size: 14px;
    color: #888;
  }

  .nav ul#main-navbar {
    float: right;
    text-transform: uppercase;
  }

  .hidden-desktop .mega-me {
    visibility: visible;
  }

  .hidden-desktop .mega-me ul {
    float: right;
  }

  .portal-list .mega-me {
    display: none;
  }

  .portal-list .portal:hover .mega-me {
    display: block;
  }

  .portal-list .mega-me div ul {
    float: right;
    padding: 0 0 0 1rem;
  }

  .portal-list .mega-me div ul li ul {
    float: none;
  }

  .top-links.nav {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .top-links ul.portal-list {
    margin-top: -2rem;
  }

  .navbar-default .navbar-nav > li > a {
    color: #072249;
    font-size: 1.4rem;
  }

  .top-links.nav {
    margin: 1rem 0 0 0;
  }

  .nav ul#main-navbar {
    margin-top: .5rem;
    padding-right: 2.75rem;
  }
}
button.navbar-toggle:not(.main-menu-toggle) {
  float: right;
}

.mobile_search .btn-info {
  margin-bottom: 2rem;
}