.spotlightContainer {
  margin: 1.5rem auto;
}

.spotlightDiv {
  position: relative; 
  height: 100%;
}

.spotlightText {
  padding-top: 1.5rem;
}

.spotlightHeading {
  text-align: center !important;
  margin-bottom: 3.5rem;
  margin-top: -.5rem !important;
}

.spotlightIntro {
  margin-bottom: 4.5rem !important;    
  margin-top: -2rem;
}

.spotlightCTA {
  bottom: 1rem;
  left: 0; 
  margin: 0 2%;
  position: absolute;	
  width: 96%;
  white-space: normal;
}
  
.spotlightMockButton { 
  color: #000;
  text-decoration: none;
  border: 1px solid;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 1.4rem;
  line-height: 1.428571429;
  border-radius: 4px;
  }

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.equal:before,
.equal:after{
  display:none;
}
 
.mockButton > a { 
  display: block;
  position: relative;
}

.mockButton .hoverOverlay { 
  @extend %uol-white-font-default;
  background-color: rgba(0,0,0,0.8);
  transition: .4s opacity;
  opacity: 0;
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.mockButton .hoverOverlay span {
  @extend %uol-white-font-default;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 2.5rem;
}

.mockButton:hover .hoverOverlay { 
  opacity: 1;
}