.course-search {
  min-height: 29rem;
  background-color: #dddddd;
  margin: 2rem 1.5rem 3rem 1.5rem;
  padding-top: 3rem;
  text-align: center;
  display: block;
  padding-bottom: 2rem;
  -webkit-box-shadow: 0 5px 5px 0 #e0e0e0;
  -moz-box-shadow: 0 5px 5px 0 #e0e0e0;
  box-shadow: 0 5px 5px 0 #e0e0e0;
}
@media screen and (min-width: 768px) {
  .course-search {
    text-align: left;
  }
}
.course-search ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .course-search ul {
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .course-search ul {
    margin-top: 3rem;
  }
}
.course-search ul li a {
  color: #333;
  text-decoration: underline;
}
.course-search .h1 {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .course-search .h1 {
    margin-left: 2rem;
  }
}
.course-search form {
  margin-top: 2rem;
  border: none;
}