.sidebar {
  padding: 0 1.5rem;

  .grey-box {
    display: block;
    background-color: #ddd;
    text-align: left;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;

    h3, 
    .h3 {
      display: block;
      font-family: Georgia, Times, "Times New Roman", serif;
      margin: 0 0 1rem 0;
      color: #072249;
      border-bottom: 2px solid #072249;
      padding-bottom: 0.5rem;
    }

  }

}

@media screen and (min-width: 480px) {
  .sidebar .grey-box {
    width: 49%;
    float: left;
    margin-right: 2%;
  }
  .sidebar .grey-box:last-of-type {
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) {
  .sidebar .grey-box {
    text-align: left;
    width: 100%;
  }
}

.sidebar .grey-box p .blue {
  font-weight: bold;
}
.sidebar .grey-box ul {
  list-style: none;
  padding: 0;
}
.sidebar .grey-box ul li a {
  color: #333;
  display: block;
  padding: .5rem 0;
  border-bottom: 1px dotted #B8B8B8;
}
.sidebar .grey-box ul li a:hover {
  text-decoration: underline;
  color: #777;
}
.sidebar .grey-box ul li:last-of-type a {
  border-bottom: none;
}

.sidebar .btn-info,
.sidebar .btn-primary,
.sidebar .btn-default {
  display: block;
  margin: 1rem auto; 
  clear: both;
}

.sidebar .btn-info {
	background-color: #008080;
	color: #fff;
}

@media screen and (min-width: 480px) {
  .sidebar .btn-info,
  .sidebar .btn-primary,
  .sidebar .btn-default  {
    width: 60%;
  }
}
@media screen and (min-width: 992px) {
	.sidebar .btn-info,
	.sidebar .btn-primary,
    .sidebar .btn-default {
		width: 100%;
	}
}
@media screen and (min-width: 1200px) {
  .sidebar .btn-info,
  .sidebar .btn-primary,
  .sidebar .btn-default{
    /*width: 60%;*/ /* Commented out to ensure that the course buttons are the same width as the Key Information grey box - KT - 13 Jun 19 */
    margin: 1rem 0;
  }
}


.inner .sidebar .grey-box {
  margin-top: 2rem;
  width: 100%;
  float: none;
}
.inner .sidebar .grey-box .h3 {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
}
.inner .sidebar .grey-box .h3:after {
  content: "\e259";
  font-family: 'Glyphicons Halflings';
  position: absolute;
  right: 0;
}
.inner .sidebar .grey-box .h3:focus {
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  .inner .sidebar .grey-box .h3 {
    border-bottom: 2px solid #072249;
    padding-bottom: 4px;
    margin-bottom: 4px;
  }
  .inner .sidebar .grey-box .h3:after {
    content: none;
  }
}
.inner .sidebar .grey-box nav {
  max-height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
}
.inner .sidebar .grey-box nav li {
  font-weight: 600;
  font-size: 1.2rem;
}
.inner .sidebar .grey-box nav li li {
  font-weight: 400;
}
.inner .sidebar .grey-box nav li li a {
  padding-left: 2rem;
}
.inner .sidebar .grey-box nav li li:last-of-type a {
  border-bottom: 1px dotted #B8B8B8;
}
.inner .sidebar .grey-box nav a {
  color: #333;
}
@media screen and (min-width: 992px) {
  .inner .sidebar .grey-box nav {
    max-height: 150vh;
  }
}
.inner .sidebar .grey-box.expanded .h3:after {
  content: "\e260";
}
@media screen and (min-width: 992px) {
  .inner .sidebar .grey-box.expanded .h3:after {
    content: none;
  }
}
.inner .sidebar .grey-box.expanded nav {
  max-height: 150vh;
}