.gen-content {
  margin: 1.5rem 0;
}

.gen-content blockquote p {
  color: #333;
  font-size: 1.5rem;
  display: inline-block;
  width: auto;
  padding: 0 5rem;
}

@media screen and (min-width: 450px) {
  .gen-content blockquote p {
    padding: 0 7rem;
  }
}
.gen-content blockquote p:before {
  color: #333;
  font-size: 4rem;
  left: 0;
  top: 0;
  position: absolute;
}

.gen-content blockquote p:after {
  color: #333;
  font-size: 4rem;
  right: 0;
  position: absolute;
  top: 0;
}

.gen-content cite {
  padding: 0 2.8rem;
  color: #333;
}

.gen-content a cite {
  color: #333;
}

@media screen and (min-width: 450px) {
  .gen-content cite {
    padding: 0 4.5rem !important;
  }
}
.gen-content iframe {
  max-width: 100% !important;
}

.gen-content img {
  max-width: 100%;
  height: auto!important;
}

.col-sm-12 .grey-box {
  margin-top: 1rem;
}

.panel-heading .panel-title em {
  margin-right: 1rem;
}

.gen-content hr {
  clear:both;
  display:block;
}


.gen-content a,
.panel-body a {
  text-decoration: underline;
  /*text-decoration-style: dotted;*/
}
.gen-content a:hover,
.panel-body a:hover {
  text-decoration: none;
}
.gen-content h1 a,
.gen-content h2 a,
.gen-content h3 a,
.gen-content h4 a,
.gen-content h5 a,
.gen-content h6 a {
  text-decoration: none;
}