.quote-slider .quote-slide {
  margin: 2rem 0;
}
@media screen and (min-width: 992px) {
  .quote-slider .quote-slide {
    margin: 4rem 0 0 0;
  }
}
.quote-slider .quote-slide blockquote {
  margin-bottom: 0;
  line-height: 2rem;
}
.quote-slider .quote-slide blockquote p {
  color: #072249;
  padding: 0 3rem;
  font-size: 1.8rem;
}
.quote-slider .quote-slide blockquote p:before {
  top: -3rem;
  left: 0rem;
  content: "\201C";
}
@media screen and (min-width: 992px) {
  .quote-slider .quote-slide blockquote p:before {
    left: -2rem;
  }
}
.quote-slider .quote-slide blockquote p:after {
  bottom: 2rem;
  right: 1rem;
  content: "\201D";
}
@media screen and (min-width: 992px) {
  .quote-slider .quote-slide blockquote p:after {
    right: 0rem;
  }
}
.quote-slider .quote-slide cite {
  color: #072249;
  font-size: 1.6rem;
  padding-left: 3rem;
}