#uol-course-header {
  align-items: stretch;
  display: $uol-display-flex-imp;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  width: 100%; 
}


.uol-course-header-container {
  position: absolute;
  top: 1.5rem;
  width: 100%;
  z-index: 11;
}

.uol-course-header-container h1 {  
  color: $uol-white-default;
  font-family: $uol-font-primary;
  letter-spacing: -0.3rem;
  text-align: center;
  width: 100%; 
}

.uol-course-header-container-inner {
  display: $uol-display-flex-imp;
  flex-flow: column;
  height: 52.5rem;
}


// Start CTA Buttons

.uol-course-header-container-inner-btn {
  margin-top: auto;
  margin-bottom: 12rem;
  text-align: center;
}

.uol-course-header-container-inner-btn > a {
  background: 0 0;
  border: .4rem solid $uol-white-default;
  color: $uol-white-default;
  display: inline-block;
  font-weight: 600;
  padding: 1.1rem 2.2rem;
  letter-spacing: 0.04em;
  margin-top: $uol-mt-0;
  min-width: 22.5rem;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s ease-in-out 50ms, color 0.3s ease-in-out;
   
}




@each $backgroundColourSetting in  $backgroundColourSettings {

  .uol-course-header-container-inner-btn--#{$backgroundColourSetting} > a:hover {
    color: $uol-white-default;
    @extend %bg-color-#{$backgroundColourSetting}-btn;
  }


  .uol-course-header-container-inner-btn--#{$backgroundColourSetting} > a:nth-of-type(1) {
    @extend %bg-color-#{$backgroundColourSetting}-btn;
  }

  .uol-course-header-container-inner-btn--#{$backgroundColourSetting} > a:nth-of-type(1):hover {
    color: $uol-white-default;
    @extend %uol-font-color-#{$backgroundColourSetting};
  }

}

// EndCTA Buttons




#uol-course-header picture,
  #uol-course-header img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 52.5rem;
  }
  
  #uol-course-header img {
  object-fit: cover;
  object-position: top center;
}


#uol-course-banner {
  padding: 0;
}


.uol-course-banner-overlay {
  @extend %overlay;
  height: 52.5rem;
}

.uol-course-banner-overlay--light {
  @extend .uol-course-banner-overlay;
  background: $uol-overlay-light;
}

.uol-course-banner-overlay--medium {
  @extend .uol-course-banner-overlay;
  background: $uol-overlay-medium;
}

.uol-course-banner-overlay--dark {
  @extend .uol-course-banner-overlay;
  background: $uol-overlay-dark;
}


#uol-course-key-info {
  background-color: $uol-accent-primary;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  color: $uol-white-default;
  display: $uol-display-flex-imp;
  flex-flow: column;
  margin: -9rem auto 0;
  padding: 0 0 2.5rem;;
  position: relative;
  text-align: center; 
  width: 80%;
  z-index: 12;
}

#uol-course-key-info-frame {
  background-color: $uol-secondary;
  min-height: 40rem;
}

#uol-course-key-info .course-key-information-title,
  #uol-course-key-info .course-key-information
  {
  	background-color: #047e8b;
    padding: 0 1.5rem;
  }

#uol-course-key-info hr {
  @include horizLineMargin( 0, 0.6rem, auto, 50% );
}

#uol-course-key-info .key-info {
  text-align: center;
  width: 100%;
  padding: 1rem 2rem 0;
}

#uol-course-key-info h2 { 
  @extend %uol-font-family-primary;
  color: $uol-white-default;
}

#uol-course-key-info h3 {
  @extend %uol-font-family-primary;
  color: $uol-white-default;
}

#uol-course-key-info p {
  color: $uol-white-default;
}

#uol-course-key-info .key-info .h4 {
  @extend %uol-font-family-primary;
  font-weight: 700;
}


.key-info-container {
  display: $uol-display-flex-imp;
  flex-direction:  row;
  flex-wrap: wrap;
}


// Start Course Academic Year Select 
#uol-course-year-select {
  margin-top: auto;
  width: 100%;
   padding: .5rem 1.5rem;
   text-align: center;
}
   

 .uol-radio-btn-container {
    position: relative;
    padding-left: 3.5rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 1rem;

 }

.uol-radio-btn-container--horiz {
  @extend .uol-radio-btn-container;
  display: inline-block;
}

.uol-radio-btn-container--vert {
  @extend .uol-radio-btn-container;
  display: block;
}

/* Hide the browser's default radio button */
.uol-radio-btn-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.uol-radio-btn-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a background colour*/
.uol-radio-btn-container input:checked ~ .checkmark {
  @extend %bg-color-white-default;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; 
}

/* Show the indicator (dot/circle) when checked */
.uol-radio-btn-container input:checked ~ .checkmark:after {
  display: block;
  @extend %bg-color-secondary;
}

/* Style the indicator (dot/circle) */
.uol-radio-btn-container .checkmark:after {
 	top: .9rem;
	left: .9rem;
	width: .8rem;
	height: .8rem;
	border-radius: 50%;
	background: white;
}  


// End Course Academic Year Select 









@media (min-width: $uol-breakpoint-sm) {
  #uol-course-key-info .key-info {
    text-align: left;
    width: 50%;
  }

  #uol-course-key-info {   
    height: 57rem;
    
    padding-bottom: 0;
    text-align: left;
  }

  #uol-course-key-info hr {
    @include horizLineMargin( 0, 0.6rem, 0, 50% );
  }

  #uol-course-year-select {
    padding-bottom: 5.5rem;
    text-align: left;
  }
}


@media (min-width: $uol-breakpoint-l) {
  #uol-course-header {
    flex-direction: row;
  }

  .uol-course-header-container {
    align-self: auto;
  }
       
  .uol-course-header-container-inner {
    padding-right: 35rem;
  }

  .uol-course-header-container-inner-btn {
    margin-bottom: 4rem;
    text-align: left;
  }

  .uol-course-header-container h1 {
    font-size: 5rem;
    line-height: 5.9rem;
    text-align: left;
    width: 90%; 
  }

  #uol-course-banner {
    width: 70%;
  }

  #uol-course-key-info {   
    margin-top: 0;
    width: 30%;
  }
}


@media (min-width: $uol-breakpoint-xl) {
  #uol-course-banner {
    width: 74%;
  }

  #uol-course-key-info {   
    width: 26%;
  }
}