.uol-homepage-hero {
  color: $uol-white-font-default;
  display: flex;
  font-family: verdana;
  height: calc(100vh - 8rem);
  min-height: 66rem;
  justify-content: center;
  margin-bottom: 0;
  position: relative;
  z-index: 11;


  &_play {
    position: absolute;
    top: auto;
    left: 1.5rem;
    bottom: 1.5rem;
  }


  &_overlay { 
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;

    &--light {
      background: rgba(0, 0, 0, 0.2);
    }

    &--dark {
      background: rgba(0, 0, 0, 0.4);
    }

  }


  &_img-container {
    background: #747678;
    height: auto;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
    }

  }
    

  &_content-container {
    align-self: center;
    pointer-events: none;
    position: absolute;
    width: 100%;

    &-inner {
      margin: 0 auto;
      max-width: 1170px;
      padding: 0 20px;
      width: 100%;

      h1 {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 4rem;
        font-weight: bold;
        line-height: 1.1;
        margin-top: 50px;
        margin-bottom: 0;
        max-width: 630px;
        position: relative;
        z-index: 1;
      }

      .tag {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 1.6rem;
        font-weight: 600;
        margin: 10px 0 40px;
        letter-spacing: inherit;
        text-transform: unset;
      }

    }

  }


  &_btn-container {

    > a {
      background: 0 0;
      color: #fff;
      border: 4px solid #fff;
      display: block;
      font-weight: 600;
      padding: 11px 22px;
      pointer-events: auto;
      letter-spacing: 0.04em;
      text-align: center;
      text-decoration: none;
      transition: background 0.3s ease-in-out 50ms, color 0.3s ease-in-out;
      margin-top: 20px;
      min-width: 215px;

      &:nth-of-type(1) {
        margin-top: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

    }

  }

}










@media (min-width: 350px) {
  .uol-homepage-hero {
    height: calc(100vh - 165px);
  }
}

@media (min-width: 768px) {
  .uol-homepage-hero {
    height: calc(100vh - 116px);
  }

  .uol-homepage-hero_content-container-inner h1 {
    font-size: 5rem;
    margin-bottom: 10px;
  }

  .uol-homepage-hero_content-container-inner .tag {
    font-size: 1.7rem;
  }
}

@media (min-width: 991px) {
  .uol-homepage-hero_content-container-inner h1 {
    font-size: 6rem;
  }

  .uol-homepage-hero_content-container-inner .tag {
    font-size: 1.875rem;
  }
}

@media (min-width: 1025px) {
  .uol-homepage-hero {
    height: 600px;
  }
}









.uol-homepage-hero_btn-container--primary > a:nth-of-type(1),
.uol-homepage-hero_btn-container--primary > a:hover {
  background: #002147;
  border-color: #002147;
}

.uol-homepage-hero_btn-container--secondary > a:nth-of-type(1),
.uol-homepage-hero_btn-container--secondary > a:hover {
  background: #047e8b;
  border-color: #047e8b;
}

.uol-homepage-hero_btn-container--accent-primary > a:nth-of-type(1),
.uol-homepage-hero_btn-container--accent-primary > a:hover {
  background: #db1a72;
  border-color: #db1a72;
}

.uol-homepage-hero_btn-container--accent-secondary > a:nth-of-type(1),
.uol-homepage-hero_btn-container--accent-secondary > a:hover {
  background: #747678;
  border-color: #747678;
}

.uol-homepage-hero_btn-container--primary > a:nth-of-type(1):hover {
  background: #fff;
  color: #002147;
}

.uol-homepage-hero_btn-container--secondary > a:nth-of-type(1):hover {
  background: #fff;
  color: #047e8b;
}

.uol-homepage-hero_btn-container--accent-primary > a:nth-of-type(1):hover {
  background: #fff;
  color: #db1a72;
}

.uol-homepage-hero_btn-container--accent-secondary > a:nth-of-type(1):hover {
  background: #fff;
  color: #747678;
}

/*
.uol-homepage-hero_btn-container--primary > a::selection {
  background: #002147;
  color: #fff;
  text-shadow: none;
}

.uol-homepage-hero_btn-container--secondary > a::selection {
  background: #047e8b;
  color: #fff;
  text-shadow: none;
}
*/

@media (min-width: 768px) {
  .uol-homepage-hero_btn-container > a {
    display: inline-block;
    margin: 0 10px 0 0;
  }
}

@media (max-width: 767px) {
  .uol-homepage-hero_btn-container {
    display: block;
    width: 100%;
  }
}
