.uol-ohd-course-list {
  display: flex;
  min-height: 20rem;
  padding: 2rem 0;

  p,
  a  {
    color: $uol-white-font-default;
  }

  &__form {
    @extend %centre;
    label {
      color: $uol-white-font-default;
      display: block;
    }
    input {
      font-size: 2rem;
    }
  }

  &__num-returned-courses {
    @extend %centre;
  }

  &__site-maint-msg {
    @extend %centre;
    padding: 1rem;
    a {
      width: 80%;
    }
  }
}

// START BREAKPOINTS
@media (min-width: $uol-breakpoint-m) {
  .uol-ohd-course-list {
    &__site-maint-msg {
      a {
        width: 50%;
      }
    }
  }
}
// END BREAKPOINTS


// START COLOURS 

@each $key, $bgCol, $bgHoverCol, $fontCol  in  $uol-colors {
  
  .uol-ohd-course-list {
    &--#{$key} {
      @extend .uol-ohd-course-list;
      background-color: $bgCol;
    }   
  }
}

// END COLOURS
