.uol-course-header {
  align-items: stretch;
  display: $uol-display-flex-imp;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  width: 100%; 

  &__container {
    position: absolute;
    top: 1.5rem;
    width: 100%;
    z-index: 11;

    h1 {
      color: $uol-white-default;
      font: {
        family: $uol-font-primary;
        weight: 700;
      }
      display: flex;
      flex-direction: column;
      letter-spacing: -0.2rem;
      line-height: normal;
      text-align: center;
      width: 100%;

      span {
        width: 100%;
      }
      
    }

    &__inner {
      display: $uol-display-flex-imp;
      flex-flow: column;
      height: 52.5rem;

      // Start CTA Buttons
      &__btn {
        margin-top: auto;
        margin-bottom: 12rem;
        text-align: center;

        a {
          background: 0 0;
          border: .4rem solid $uol-white-default;
          color: $uol-white-default;
          display: inline-block;
          font-weight: 600;
          padding: 1.1rem 2.2rem;
          letter-spacing: 0.04em;
          margin-top: $uol-mt-1;
          min-width: 22.5rem;
          text-align: center;
          text-decoration: none;
          transition: background 0.3s ease-in-out 50ms, color 0.3s ease-in-out;                      
        }

        @each $key, $btn, $btnHover in  $uol-btn-colors {
        &--#{$key} {

          a:hover {
            background-color: $btn;
            color: $uol-white-default;
          }

          a:nth-of-type(1) {
            background-color: $btn;

            &:hover {
              background-color: $bg-color-white-default;
              color:  $btnHover;
            }

          }
            
      
          }
        }// End each loop

      } //End &__btn

    } // End __inner

  }// End __Container



  &__banner {
    padding: 0;

    &__overlay {

      &--light,
      &--medium,
      &--dark {
        @extend %overlay;
        height: 52.5rem;
      }

      &--light {
        background: $uol-overlay-light;
      }
      
      &--medium {
        background: $uol-overlay-medium;
      }
      
      &--dark {
        background: $uol-overlay-dark;
      }

    }// End __overlay


    picture,
    img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: 52.5rem;
    }

    img {
      object-fit: cover;
      object-position: top center;
    }

  }// End __banner


  &__key-info {
    background-color: $uol-accent-primary;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    color: $uol-white-default;
    display: $uol-display-flex-imp;
    flex-flow: column;
    margin: -9rem auto 0;
    padding: 0 0 2.5rem;;
    position: relative;
    text-align: center; 
    width: 80%;
    z-index: 12;

    h2,
    h3 { 
      @extend %uol-font-family-primary;
      color: $uol-white-default;
    }
    
    p {
      color: $uol-white-default;
    }

    a {
      color: $uol-white-default;
      text-decoration: underline;
    }
    
    

    &__frame {
      background-color: $uol-secondary;
      min-height: 40rem;
    }// End __frame

    &__title {
      background-color: #047e8b;
      padding: 0 1.5rem;
    }// End __title

    &__year {
      background-color: #047e8b;
      padding: 0 1.5rem;

      &__cnt {
        display: $uol-display-flex-imp;
        flex-direction:  row;
        flex-wrap: wrap;

        &__key-info {
          text-align: center;
          width: 100%;
          padding: 1rem 2rem 0;

          .h4 {
            @extend %uol-font-family-primary;
            font-weight: 700;
          }

        }// End key-info

      }// End __cnt


    }// End __year 

    hr {
      @include horizLineMargin( 0, 0.6rem, auto, 50% );
    }

  }// End key-info

} // End .uol-course-header







  
  










// Start Course Academic Year Select 
#uol-course-year-select {
  margin-top: auto;
  width: 100%;
   padding: .5rem 1.5rem;
   text-align: center;
}
   

 .uol-radio-btn-container {
    position: relative;
    padding-left: 3.5rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 1rem;

 }

.uol-radio-btn-container--horiz {
  @extend .uol-radio-btn-container;
  display: inline-block;
}

.uol-radio-btn-container--vert {
  @extend .uol-radio-btn-container;
  display: block;
}

/* Hide the browser's default radio button */
.uol-radio-btn-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.uol-radio-btn-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a background colour*/
.uol-radio-btn-container input:checked ~ .checkmark {
  @extend %bg-color-white-default;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; 
}

/* Show the indicator (dot/circle) when checked */
.uol-radio-btn-container input:checked ~ .checkmark:after {
  display: block;
  @extend %bg-color-secondary;
}

/* Style the indicator (dot/circle) */
.uol-radio-btn-container .checkmark:after {
 	top: .9rem;
	left: .9rem;
	width: .8rem;
	height: .8rem;
	border-radius: 50%;
	background: white;
}  


// End Course Academic Year Select 





@media (min-width: $uol-breakpoint-sm) {

  .uol-course-header {

    &__container {

      &__inner {
        &__btn {
          a {
            margin-top: $uol-mt-0;

            &:nth-of-type(1) {
              margin-right: 1rem;
            }

          }
        }
      }
    }

    &__key-info {
      height: 57rem;    
      padding-bottom: 0;
      text-align: left;

      hr {
        @include horizLineMargin( 0, 0.6rem, 0, 50% );
      }
      
      &__year {

        &__cnt {
          &__key-info {
            text-align: left;
            width: 50%;
          }


        }

      }

    }
  }





  #uol-course-year-select {
    padding-bottom: 5.5rem;
    text-align: left;
  }

}




@media (min-width: $uol-breakpoint-l) {
  .uol-course-header {
    flex-direction: row;

    &__container {
      align-self: auto;

      h1 {
        font-size: 5rem;
        letter-spacing: -0.3rem;
        //line-height: 5.9rem;
        overflow: visible;
        text-align: left;
        width: 90%; 
      }

      &__inner {
        padding-right: 35rem;

        &__btn {
          margin-bottom: 4rem;
          text-align: left;
        }// End __btn

      }// End __inner

    }// End __container


    &__banner {
      width: 70%;

    }// End __banner


    &__key-info {
      margin-top: 0;
      width: 30%;

    }// End __key-info

  }// End .uol-course-header

}


@media (min-width: $uol-breakpoint-xl) {
  .uol-course-header {

    &__banner {
      width: 74%;
    }

    &__key-info {
      width: 26%;
    }
  }

}