.uol-blockquote {
  padding: 3rem 2rem;

  @each $key, $bgCol, $bgHoverCol, $fontCol  in  $uol-colors {
    &--#{$key}{
      background-color: $bgCol;
    }
  }

  p {
    &:before,
    &:after {
      content: none;
      display: none;
    }
  }

  &[class*="uol-blockquote--"] {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    padding-bottom: 5rem;

    & .uol-body,
    & .uol-body-prominent,
    & .uol-blockquote_text,
    & .uol-blockquote_mark  {
      color: $uol-white-font-default;
    }

    & .uol-blockquote_mark {
      opacity: 0.5;
    }
  }
  

}// End .uol-blockquote



.uol-blockquote_inner {
  width: 100%;
  margin: 0 auto;
}

.uol-blockquote_text {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-family: $uol-font-headings;
  margin-bottom: 1rem;;
  color: var(--uol-black-100);
}
.uol-blockquote_quote {
  position: relative;
  margin-bottom: 1rem;
}
.uol-blockquote_mark {
  color: $uol-primary; 
  display: block;
  max-width: 2.5rem;  
  opacity: 0.25;
}
.uol-blockquote_mark:first-of-type {
  margin-right: auto;
  margin-bottom: 1rem;
}
.uol-blockquote_mark:last-of-type {
  margin-left: auto;
}


@media (min-width: $uol-breakpoint-sm) {
  .uol-blockquote_inner {
    max-width: 75rem;
  }

  .uol-blockquote_text {
    margin: 0 2.5rem;
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
}


@media (min-width: $uol-breakpoint-m) {
  .uol-blockquote_inner {
    max-width: 97rem;
  }
}


@media (min-width: $uol-breakpoint-l) {
  .uol-blockquote_inner {
    max-width: $uol-container-constraint;
  }
}

