#uol-accomm-hero-banner-full-width img { 
  height: auto;  
}

#uol-accomm-hero-banner-title {
  opacity: 1;
  position: static;                
}

#uol-accomm-hero-banner-title h1 {
  color: $uol-white-default;
  margin: 10px 0;
  text-align: center;
}

#uol-accomm-hero-banner-full-width img,
#uol-accomm-hero-banner-title,
#uol-accomm-hero-banner-title h1 {
  width: 100%;
}

@media (min-width: $uol-breakpoint-l) {
  #uol-accomm-hero-banner-title {
    position: absolute;
    opacity: 0.9;
    /*top: 0;*/
    bottom: 0;
  }

  #uol-accomm-hero-banner-title h1 {
    margin: 20px 0;
  }
}

@each $key, $val in  $uol-bg-main-colours {
  .uol-accomm-hero-banner-title--#{$key} {
    background-color: $val;
  }    
}
