// ============== 
// START ULCL HOMEPAGE HERO BANNER

.uol-homepage-hero {
  @extend %uol-font-family-primary;
  @extend %uol-white-font-default;
  display: $uol-display-flex-imp;
  height: calc(100vh - 80px);
  min-height: 66rem;
  justify-content: center;
  margin-bottom: 0;
  position: relative;
  z-index: 11;
}


.uol-homepage-hero_overlay {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
}

.uol-homepage-hero_img-container {
  @extend %bg-color-accent-secondary;
  height: auto;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.uol-homepage-hero_img-container img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.uol-homepage-hero_content-container {
  align-self: center;
  position: absolute;
  width: 100%;
}

.uol-homepage-hero_content-container-inner {
  @extend %container-constraint;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}

.uol-homepage-hero_content-container-inner h1 {
  @extend %uol-font-family-primary;
  @extend %uol-white-font-default;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.1;
  margin-top: 5rem;
  margin-bottom: 0;
  max-width: 63rem;
  position: relative;
  z-index: 1;
}

.uol-homepage-hero_content-container-inner .tag {
  @extend %uol-font-family-primary;
  @extend %uol-white-font-default;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1rem 0 4rem;
  letter-spacing: inherit;
  text-transform: unset;
}

.uol-homepage-hero_btn-container {
  display: block;
  width: 100%;
}

.uol-homepage-hero_btn-container > a {
  @extend %uol-white-font-default;
  background: 0 0;
  border: 4px solid #fff;
  display: block;
  font-weight: 600;
  padding: 1.1rem 2.2rem;
  letter-spacing: 0.04em;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s ease-in-out 50ms, color 0.3s ease-in-out;
  margin-top: 2rem;
  min-width: 21.5rem;;
}

.uol-homepage-hero_btn-container > a:nth-of-type(1) {
  margin-top: 0;
}

.uol-homepage-hero_btn-container > a:last-of-type {
  margin-right: 0;
}


@each $backgroundColourSetting in  $backgroundColourSettings {

  .uol-homepage-hero_btn-container--#{$backgroundColourSetting} > a:nth-of-type(1) {
    @extend %bg-color-#{$backgroundColourSetting}-btn;
    @extend %border-color-#{$backgroundColourSetting}-btn;
  }

  .uol-homepage-hero_btn-container--#{$backgroundColourSetting} > a:hover {
    @extend %bg-color-#{$backgroundColourSetting}-btn;
    @extend %border-color-#{$backgroundColourSetting}-btn;
  }

  .uol-homepage-hero_btn-container--#{$backgroundColourSetting} > a:nth-of-type(1):hover {
    @extend %bg-color-white-default;
    @extend %uol-font-color-#{$backgroundColourSetting};
  }

}


@media (min-width: $uol-breakpoint-xs) {
  .uol-homepage-hero {
    height: calc(100vh - 165px);
  }
}

@media (min-width: $uol-breakpoint-sm) {
  .uol-homepage-hero {
    height: calc(100vh - 116px);
  }

  .uol-homepage-hero_content-container-inner h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  .uol-homepage-hero_content-container-inner .tag {
    font-size: 1.7rem;
  }

  .uol-homepage-hero_btn-container {
    margin-right: 3rem;
    display: inline-block;
    width: auto;
  }

  .uol-homepage-hero_btn-container > a {
    display: inline-block;
    margin: 0 1rem 0 0;
  }
}

@media (min-width: $uol-breakpoint-m) {
  .uol-homepage-hero_content-container-inner h1 {
    font-size: 6rem;
  }

  .uol-homepage-hero_content-container-inner .tag {
    font-size: 1.875rem;
  }
}

@media (min-width: $uol-breakpoint-l) {
  .uol-homepage-hero {
    height: calc(100vh - 116px);
  }
}

// END ULCL - ULCL HOMEPAGE HERO BANNER 
// ============== 