// Avatar currently used with Blockquote

.uol-avatar {
  align-items: center;
  display: grid;
  gap: 2rem;
  grid-template-rows: 10rem auto;
  margin: 0 auto 2rem;  
}

.uol-avatar:not( .uol-avatar.has-image ) {
  grid-template-rows: auto;
}

.uol-avatar_image {
  border-radius: 5rem;
  max-width: 10rem;
  max-height: 10rem;
  height: 10rem;
  width: 10rem;
  display: block;
  object-fit: cover;
  object-position: center;
  background-color: var(--uol-white-300);
}

.uol-avatar_copy {
  text-align: left;
  max-width: 48rem;
}

@media (min-width: 756px) {
  .uol-avatar:not(.has-image) {
    grid-template-columns: auto;
  }

  .uol-avatar {
    margin-left: 25px;
    grid-template-columns: 100px auto;
  }
}
.uol-avatar .uol-body {
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 0 0 1rem;
  font-family: $uol-font-primary;
  color: var(--uol-black-200);
}
.uol-avatar .uol-body.uol-body-prominent {
  font-family: $uol-font-headings;
  font-size: 2rem;
  line-height: 2.5rem;
}
.uol-avatar .uol-body:last-of-type {
  margin-bottom: 0;
}