.uol-course-module {

  .module-pill-wrapper {
    max-height: 30rem; 
    overflow-y: scroll;
  }
 
  .nav-tabs {
    > li {
      a { 
        border-radius: 0;
      }
      &.active {
        > a { 
          color: $uol-white-font-default;
          &:hover {
            color: $uol-white-font-default;
          }
        }
      }
    }
  }

  .nav-pills {
    padding: 0 1.5rem;
    li {
      &.active {
        a {
          background-color: $bg-color-white-default;
          &:hover {
            color: $uol-white-font-default;
          }
        }
      }
    }
  }  
  

  li {
    a { 
      color: $uol-white-font-default;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }  
  } 

  .tab-pane {
    padding: 0 1.5rem;
    h3,
    p {
      color: $uol-white-font-default;
    }
  }

  .module-content-container {
    border-top: 1px solid $uol-white-default;
  }

  .modulesUgDisclaimer {
    color: $uol-white-font-default;
    font-size: 1.4rem;
    padding: 1.5rem;
  }

}



// START BREAKPOINTS

@media (min-width: $uol-breakpoint-l) {
  .uol-course-module {
    .module-content-container {
      border-top: none;
    }    
  }
}

// END BREAKPOINTS

// START COLOURS

// Set the background colour class for the module
@each $key, $bgCol, $bgHoverCol, $fontCol  in  $uol-colors {

  .uol-course-module--#{$key} {
    @extend .uol-course-module;

    .nav-tabs,
    .tab-pane {
      background-color: $bgCol;
    }

    .nav-tabs li a:hover,
    .nav-pills li.active a {
      color: $fontCol;
    }

    .nav-tabs {
      li {
        &.active {
          a,
          a:focus,
          a:hover {
            background-color: if($key != 'accent-primary', $bg-color-accent-primary, $bg-color-secondary);
          }
        }
      }
    } 

    .nav-pills li a:hover:not( & .nav-pills li.active a ) {
      background-color: if($key != 'accent-primary', $bg-color-accent-primary, $bg-color-secondary);
    }
  
    .modulesUgDisclaimer {
      background-color: if($key != 'accent-secondary', $bg-color-accent-secondary, $bg-color-secondary);
    }

  }

}// End @each

// END COLOURS