.uol-course-entry-reqs {

  @each $key, $bgCol, $bgHoverCol, $fontCol  in  $uol-colors {

    &--#{$key} {

      > ul,
      > div:not(:last-child) {
        background-color: $bgCol;
      }

      > div:last-child {
        background-color: if($key != 'accent-secondary', $bg-color-accent-secondary, $bg-color-secondary);
      }

      > ul[class*="uol-course-entry-reqs__tabs"] {  
        > li {
          > a {
            text-decoration: none;
            
            &:hover {
              color: $fontCol;
              text-decoration: underline;
            }
          }

          &.active {
            a {
              background-color: if($key != 'accent-primary', $bg-color-accent-primary, $bg-color-secondary);
    
              &:focus {              
                background-color: if($key != 'accent-primary', $bg-color-accent-primary, $bg-color-secondary);
              }

              &:hover {
                background-color: $bg-color-white-default;
              }
            }
          }                   
        }      
      }
    }
  }// End @each

  p,
  h3
  { 
    color: $uol-white-font-default;
  }
  

  &__tabs {
    
    > li {

      &.active {
        a {
          color: $uol-white-font-default;

          &:focus,
          &:hover {
            color: $uol-white-font-default;
          }
        }
      }         

      > a {
        border-radius: 0;
        color: $uol-white-font-default;

        &:hover {
          background-color: $bg-color-white-default;
        }

      }
    }
  }



  &__tab-panes {
    > div {
      padding: 1.5rem;
      h3 {
        margin-top: 0;
      }
      a {
        color: $uol-white-font-default;
        word-wrap: break-word;
      }
    }
  }
 

  &__common {
    border-top: 1px solid $bg-color-white-default;
    padding: 1.5rem;

    a {
      color: $uol-white-font-default;
      word-wrap: break-word;
    }
  }

}