/* Highlight when the menu is open */
.js-menu-open {
  background-color: $bg-color-primary;
}
/* Style the button colour when the menu is open */
.js-menu-open [aria-controls] {
  color: $uol-white-font-default;
}


.uol-nav {
  position: relative;

  // Style links that appear when user tabs at the start of the page to help 
  .skip-links {
    list-style: none;
    padding: 0;
    .skip-link {
      position: fixed;
      top: -4.5rem;
      left: 0;    
      &:focus {
        position: fixed;
        top: 0;
        left: 0;
        padding: 1rem;
        visibility: visible;
        font-size: 1.6rem;;
        line-height: 2.5rem;
        vertical-align: middle;
        display: inline-block;
        outline: 0;
        background-color: $bg-color-secondary;
        color: $uol-white-font-default;
        z-index: 2;
      }
    }
  }

// The rest of the styles are either resets, or unique styling for buttons.
// In these case it's usually scenarios where the styles were applied to anchors by element selector.
// The reason why it wasn't just bolted onto existing styling is so certain parts weren't modified or leaking through from the current styling.

  .main-nav {
    min-width: 100vw;
    position: absolute;
    z-index: 30;
    background-color: $bg-color-white-default;
    left: 0;

    > li {
      > button {
        &:after {
          content: "";
          display: block;
          margin: auto;
          height: .2rem;
          width: 0px;
          background: transparent;
          transition: width 0.5s ease, background-color 0.5s ease;
        }
      }
    }

    li {
      padding: 0 2rem;
      float: none;
      button,
      a {
        display: block;
      }
      button {
        -moz-appearance: none;
        text-transform: uppercase;
        background-color: transparent;
        border: 0;
        outline: 0;
        color: $uol-font-color-primary !important;
        font-size: 1.6rem;
        vertical-align: middle;
        display: inline-block;
      }
      em {
        float: right;
        padding-top: 0;
        margin-right: 1rem;
        display: block;
        padding: 0 1rem;
        margin-top: 0;
      }
      > a {
        font-size: 1.6rem;
      }
    }

    .mega-me {
      a {       
        span {
          display: inline-block;
          outline: 0;
        }
        &:focus {
          outline: 0;
          text-decoration: none;
          span {
            color: $uol-dark-font-default !important;
            text-decoration: underline;
            text-decoration-thickness: .1rem;;
            text-underline-offset: .4rem;;
          }
        }
      }
    }

    &.navbar-nav {
      li {
        ul {
          li.menu-heading {
            ul {
              li {
                a {
                  &:hover {
                    color: $uol-black-100 !important; 
                    span {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
  
            .pre-duplicate {
              &:focus,
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

  }//end .main-nav

  .navbar-default {
    .navbar-nav {
      > li {
        > button {
          color: #777;
          width: 100%;
          text-align: left;
          padding-top: 1rem;
          padding-bottom: 1rem;
          line-height: 2rem;
          &[aria-expanded] {
            span {
              border-bottom: .1rem solid transparent;
              padding-bottom: .2rem;
              display: block;
              transition: border-bottom-color .3s ease;
            }
          } 
          &[aria-expanded^="true"] {
            background-color: $uol-font-color-primary  !important;
            color: $uol-white-font-default !important;
            + .glyphicon {
              color: $uol-white-font-default !important;
            }
          }
          &:hover {
            color: $uol-dark-font-default;
            background-color: transparent;
          }
          &:focus {
            background-color: $bg-color-primary;
            color: $uol-white-font-default !important;
            + .glyphicon {
              color: $uol-white-font-default!important;
            }
          }
        }
      }
    }
  }// end .navbar-default

  .nav {
    > li {
      > a,
      > button {
        position: relative;
        display: block;
        padding: 1rem 1.5rem;
      }
      > button {
        &:hover,
        &:focus {
          text-decoration: none;
          background-color: #eeeeee;
        }
      }
    }
  }// end .nav

}// end .uol-nav 




/* If the user has no reduced motion set for animations etc */
@media (prefers-reduced-motion: no-preference) {
  .skip-link {
    &:focus {
      transition: top 0.3s ease;
    }
  }
}

@media (min-width: $uol-breakpoint-sm) {
  .uol-nav {
    .main-nav {
      min-width: 400%;
      max-width: 400%;
    }

    .navbar-nav {
      > li {
        > button {
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;
        }
      }
    }
  }

}


@media all and (min-width: $uol-breakpoint-m) {
  .uol-nav {
    .main-nav{
      &.no-js li {
        > ul, 
        &:last-of-type {
          display: none;
        }
      }
    }
  }
}

@media (min-width: $uol-breakpoint-m) {

  .uol-nav {

    .main-nav {
      //min-width: auto; Replaced with min-width: 0 as auto not working with safari (KT - 05 Feb 18) */
      min-width: 0;
      max-width: auto;
      position: static;
      margin-top: 0;
      > li {
        > button {
          color: $uol-font-color-primary;
          font-size: 1.12rem;
          &:hover {
            &:after {
              width: 100%;
              background: $uol-white-300;
            }
          }
        }
        &:hover {
          mega-me {
            &:not(.uol-nav .mega-me) {
              display: block !important;
            }
          }
        }
      }
      li {
        float: left;
        min-height: 7rem;
        padding: 0;
        position: static;
        em {
          display: none;
        }
      }

      .mega-me {
        position: absolute;
      }
      
    }//end .main-nav

    .navbar-default {
      .navbar-nav {
        > li {
          > button[aria-expanded] {
            &.click {
              span  {
                border-bottom-color: $uol-black-200;
              }
              &:focus {
                background-color: transparent;
              }
            }
            &:hover:not(button[aria-expanded].kb) {
              span {
                border-bottom-color: $uol-black-200;
                background-color: initial;
                transition: border-bottom-color .3s ease;
              }
            }
          }
        }
      }//end .navbar-nav
    }// end .navbar-default

    .navbar {
      position:static;
    }

  }// end .uol-nav


}

@media screen and (min-width: $uol-breakpoint-l) {

  .uol-nav {

    .nav {
      ul {
        &#main-nav {
          margin-top: .5rem;
          padding-right: 2.75rem;
        }
      }
    }

    .navbar-default {
      .navbar-nav {
        > li {
          > button {
            color: $uol-font-color-primary;
            font-size: 1.4rem;
          }
        }
      }
    }

  }

}




