%uol-spotlight-wrapper {
  display: $uol-display-flex-imp;
  flex-wrap: wrap; 

}
.uol-spotlight {

  &__wrapper {
    
    @each $key, $bgCol, $bgHoverCol, $fontCol  in  $uol-colors {
      &--#{$key} {
        @extend %uol-spotlight-wrapper;
        .uol-spotlight__item-frame {
          > div {
            background-color: $bgCol;
            &--link {
              &:hover {
                background-color: $bgHoverCol;
              }
            }
          }
        }
      }
    }// End @each
  }// End &__wrapper


  &__item-frame {
    display: $uol-display-flex-imp; 

    // Set margin-top to the first spotlight item to 0 in mobile view
    &:nth-child(-n+1) {
      > div {
        margin-top: $uol-mt-0;
      }
    }

    &__item {  
      transition: all 0.2s ease;
      margin-top: 2.5rem;

      &--link {
        padding-bottom: 6rem;
        position: relative;  
        
        a {
          text-decoration: none;    
        }
    
        &:hover {
          box-shadow: 5px 6px 6px 2px $uol-black-400;        
          img {
            opacity: 0.8;
          }    
        }
    
      }//End &--link

      &__image {
        img {
          object-fit: fill;
          width: 100%;   
        }
      }// End &__image

      &__copy {
        height: 100%;
        padding: 0 1rem;

        h3 {
          font-size: 2.2rem;
          padding: 1.5rem 1rem 0.5rem !important;
        }
    
        .uol-h3,
        h3,
        p {
          color: $uol-white-font-default;
        }
    
        p {   
          padding: 0 1rem 1.5rem;
        } 
      }// End &__copy 
    
      &__button {
        bottom: 1rem;
        color: $uol-dark-font-default !important;
        line-height: 3.2rem;
        margin-left: 1rem;
        margin-bottom: 1.5rem;
        padding-bottom: 0 !important; 
        position: absolute;
        width: 60%; 
      }
        
    }

  }// End &__item-frame

}



// Breakpoints 

@media (min-width: $uol-breakpoint-sm) {
  // Set margin-top to the first two spotlight items to 0 in small device view
  .uol-spotlight {

    &__wrapper {
      &:not(&--twos) {
        > .uol-spotlight__item-frame {
          &:last-child {
            margin: 0 auto;
          }
        } 
      }
    }    
    
  
    &__item-frame {
      &:nth-child(-n+2) {
        > div {
          margin-top: $uol-mt-0;
        }
      }
    }
  }  
}

@media (min-width: $uol-breakpoint-m) {
  .uol-spotlight {
/*
    &__item-frame {
      &:nth-child(-n+3) {
        .uol-spotlight-item {
          margin-top: $uol-mt-0;
        }
      }  
    }
*/

    &__wrapper {
      &--twos {
        > .uol-spotlight__item-frame {
          width: 50% !important;
        }
      }

      &:not(&--twos)  {
        > .uol-spotlight__item-frame {
          &:last-child {
            margin: 0;
          }
        }
      }

    }
  }
  
}
