.uol-carousel {
  position: relative;
}

// Set the background colour class for the carousel text background
@each $backgroundColour in $backgroundColourSettings {
  .uol-carousel--#{$backgroundColour} .uol-carousel_caption { @extend %bg-color-#{$backgroundColour}; }

}

.uol-carousel .carousel {
  height: 100%;
}

.uol-carousel .uol-carousel-prev,
.uol-carousel .uol-carousel-next {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  display: inline-block; 
  height: 6.4rem;
  width: 6.4rem;
}

.uol-carousel .uol-carousel-prev {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.uol-carousel .uol-carousel-next {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.uol-carousel_cta {
  margin: 2rem auto 0;
  text-align: center;
}

.uol-carousel_caption {
  padding: 2rem;
}


.uol-carousel_caption-inner {
  padding: 0;
}

.uol-carousel_caption .uol-h2 {
  @extend %uol-white-font-default;
}

.uol-carousel_caption .uol-body {
  @extend %uol-white-font-default;
  margin-bottom: 3rem;
  max-width: 100%;
}

.uol-carousel-item img,
.uol-carousel-item iframe {
  
  display: block;
  max-width: 117rem;
  height: auto;
}


.uol-carousel_iframe {
  position: relative;
}
.uol-carousel_iframe:before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
}

.uol-carousel_iframe .uol-carousel_caption {
  background-color: transparent;
}


.uol-carousel_iframe img {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
  max-height: 100%;
}

.uol-carousel_iframe .uol-carousel_caption,
.uol-carousel_iframe img + .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
}


.uol-carousel_call-to-actions {
  display: $uol-display-flex-imp;
  justify-content: flex-start;
  flex-direction: column;
  /* To ensure buttons are clickable and not covered by scrolly buttons */
  position: relative;
  z-index: 3;
}
.uol-carousel_call-to-actions .uol-button:first-of-type:not(.uol-button:only-child) {
  margin-bottom: 12px;
}




@media ( min-width: $uol-breakpoint-sm ) {

  .uol-carousel_caption-inner {
    padding: 0 15%;
  }

}












@media (min-width: 504px) {
  .uol-carousel_call-to-actions {
    flex-direction: row;
  }
  .uol-carousel_call-to-actions .uol-button:first-of-type {
    margin-right: 12px;
    margin-bottom: 0;
  }
}



.uol-carousel_actions {
  display: $uol-display-flex-imp;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.uol-carousel_actions button {
  border-radius: 5rem;
  background-color: white;
  border: 0;
}
.uol-carousel-button-prev {
  margin-left: 2rem;
}
.uol-carousel-button-next {
  margin-right: 2rem;
}
.uol-carousel .carousel-control:hover {
  transition: opacity 0.3s ease;
}
.uol-carousel .carousel-control {
  border: 0;
  transition: opacity 0.3s ease;
}
.uol-carousel_img {
  max-height: 45rem;
  min-height: 45rem;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.uol-carousel-controls-mobile {
  display: none;
}

@media (max-width: 756px) {
  .carousel-control,
  .carousel-control {
    display: none;
  }

  .uol-carousel_img {
    min-height: initial;
  }

  .uol-carousel-controls-mobile {
    background-color: var(--uol-white-300);
    padding: 10px 20px;
    display: block;
    text-align: center;
  }
  .uol-carousel-controls-mobile .uol-carousel-control {
    border-radius: 50px;
    margin: 0 12px;
    width: 32px;
    height: 32px;
    border: 2px solid var(--uol-primary);
    background-color: var(--uol-white-100);
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  .uol-carousel-controls-mobile .uol-carousel-control svg {
    display: block;
    height: 20px;
    max-width: 12px;
    width: 12px;
    margin: 0 auto;
    stroke-width: 1.2;
    color: var(--uol-primary);
    transition: color 0.3s ease;
  }
  .uol-carousel-controls-mobile .uol-carousel-control:hover {
    background-color: var(--uol-primary);
    transition: background-color 0.3s ease;
  }
  .uol-carousel-controls-mobile .uol-carousel-control:hover svg {
    color: var(--uol-white-100);
    transition: color 0.3s ease;
  }
}

.uol-carousel .carousel-indicators {
  bottom: 62px;
  margin-bottom: 0;
}
.uol-carousel .uol-carousel_caption {
  padding-bottom: 45px;
}


@media (min-width: 756px) {
  .uol-carousel .carousel-indicators {
    bottom: 1rem;
  }
  
}
.uol-carousel .carousel-indicators li {
  width: 1.5rem;
  height: 1.5rem;
  margin: 1px 5px;
}
.uol-carousel .carousel-indicators .active {
  width: 1.6rem;
  height: 1.6rem;;
  margin: 1px 5px;
}


