$uol-mt-0: 0;
$uol-mt-1: 1rem;
$uol-mt-2: 2rem;
$uol-mt-3: 3rem;
$uol-mt-4: 4rem;
$uol-mt-5: 5rem;

$uol-mr-0: 0;
$uol-mr-1: 1rem;
$uol-mr-2: 2rem;
$uol-mr-3: 3rem;
$uol-mr-4: 4rem;
$uol-mr-5: 5rem;

$uol-mb-0: 0;
$uol-mb-1: 1rem;
$uol-mb-2: 2rem;
$uol-mb-3: 3rem;
$uol-mb-4: 4rem;
$uol-mb-5: 5rem;

$uol-ml-0: 0;
$uol-ml-1: 1rem;
$uol-ml-2: 2rem;
$uol-ml-3: 3rem;
$uol-ml-4: 4rem;
$uol-ml-5: 5rem;

$uol-my-0: 0;
$uol-my-1: 1rem;
$uol-my-2: 2rem;
$uol-my-3: 3rem;
$uol-my-4: 4rem;
$uol-my-5: 5rem;

$uol-componant-margin-top-default: 2.5rem;
$uol-componant-margin-bottom-default: 3rem;