   /* Start Video background banner styling */
      
   .homepage-video-section,
   .homepage-video-text-content a,
   .video_swapout { position: relative; }
       
   .homepage-video-text-content,
   .homepage-video-section:after,
   .homepage-video-video { position: absolute; }
       
   .homepage-video-text-content,
   .homepage-video-text-content a,
   .video_swapout h2,
   .video_swapout a { color: #fff; }
       
   .homepage-video-text-content a,
   .video_swapout a { 
     border: 1px solid #fff;				
     display: inline-block;
     margin-top: 20px;
     transition: .2s all;
     -webkit-transition: .2s all;
   }
   
   .homepage-video-section { 				
     height: 350px;	
     margin-bottom: 3rem;				
     overflow: hidden;
     transition: .2s height;
     -webkit-transition: .2s height; 
   }
       
   .homepage_video_hide  { display: none; }

   .homepage-video-text-content { 
     bottom: 40px;			
     left: 50%;			
     padding: 0px 30px;
     text-align: center;
     text-shadow: 3px 3px 3px #000;
     z-index: 29;			
     width: 100%;			
     -webkit-transform: translate(-50%);
         transform: translate(-50%);
     -webkit-box-sizing: border-box;
         box-sizing: border-box;		
   }

   .homepage-video-text-content a  {				
     font-size: 12px;
     padding: 10px 20px;
     text-shadow: none;							
   }

   .homepage-video-text-content a:hover { 
     background-color: #fff;
     color: #072249;
   }

   .homepage-video-section:after {  				
     background-color: rgba(0,0,0, 0.15);
     content: "";
     height: 100%;
     left: 0;
     top: 0;
     width: 100%;				
   }

   .homepage-video-video {				
     bottom: -9999px;
     left: -9999px;
     margin: auto;
     min-width: 100%;
     min-height: 100%;
     right: -9999px;
     top: -9999px;
   }

   .video_swapout { 
     display: block;  
     margin-bottom: 1rem;
   }

   .video_swapout > div  { 
     /*background-color: #000;
     margin-top: -20px;*/
             background-color: #002147;
     padding: 0px 20px;			
     position: static;
     text-align: center;
     transform: translate(-0%);
     width: 100%;			
   }

   .video_swapout h2 { 
     margin-top: 0;				
     text-shadow: 3px 3px 3px #000;
   }

   .video_swapout a { 
     font-size: 14px;
     margin-bottom: 20px;
     padding: 10px 20px;				
     text-shadow: 3px 3px 3px black;
     /*white-space: nowrap;*/			
   } 

   .video-poster { margin-bottom: 15px; }
   
   @media screen and (min-width: 999px) {   
     .homepage-video-section { height: 500px; }
     .homepage-video-text-content { width: auto; }
     .homepage-video-text-content h2 { font-size: 3.2rem; }
     .homepage-video-text-content a { font-size: 16px; }		
     .homepage_video_hide  { display: block; }
     .video_swapout { display: none; }
   }

   @media screen and (min-width: 1025px) { 
     .homepage-video-section { height: 600px; }		
   }