.basic-accordion {
  display: block;
  margin: 1.5rem 0;
  text-decoration: none !important;

  .panel {
    margin: 1rem 0;
    padding: 0;

    &:first-child {
      border-top: 1px solid #b8b8b8;
      margin-top: 0;
      padding-top: 1rem;       
    }

    .panel-heading {
      border-bottom: 1px solid #b8b8b8;
      padding: 0 0 2rem 2rem;

      .panel-title {
        font-size: 2rem;

        a {
          position: relative;
          font-family: Georgia, Times, "Times New Roman", serif;

          &:hover,
          &.active,
          &:focus,
          &:visited {
            text-decoration: none;
            outline: none;
          }

        }

        .glyphicon {
          margin-right: 1rem;
          margin-left: -1rem;
        }

      }

    }

    .panel-body {
      padding: 1.5rem;
    }

  }

}



@media screen and (min-width: $uol-breakpoint-sm) {
  .basic-accordion {
    margin: 1.5rem auto;
  }
}

@media screen and (min-width: $uol-breakpoint-m) {
  .basic-accordion {
    .panel {
      margin-right: 5rem;
    }
  }
}

@media screen and (min-width: $uol-breakpoint-l) {
  .basic-accordion {
    .panel {
      margin-right: 8rem;

      .panel-heading {
        padding: 0 8rem 2rem 8rem;
      }

      .panel-body {
        padding: 1.5rem 1.5rem 1.5rem 8rem;
      }

    }
  }

}