.bg-video {
  background-position: right center;
  margin-bottom: 3rem;

  .no-gutters {
    padding: 0;
    margin-left: auto;
  }
}


.bg-video #iframe-video {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 22rem;
}

.bg-video #iframe-video iframe#video {
  width: 100%;
  border: none;
  min-height: 22rem;
}

.bg-video #iframe-video #play-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg-video #iframe-video #play-video:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  content: "\e029";
  font-family: 'Glyphicons Halflings';
  font-size: 100px;
  color: #fff;
  opacity: .8;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}




@media screen and (min-width: 480px) {
  .bg-video #iframe-video {
    min-height: 26rem;
  }

  .bg-video #iframe-video iframe#video {
    min-height: 26rem;
  }
}

@media screen and (min-width: $uol-breakpoint-sm) {
  .bg-video .no-gutters {
    padding: 0 1.5rem;
  }

  .bg-video #iframe-video {
    min-height: 35rem;
  }

  .bg-video #iframe-video iframe#video {
    min-height: 35rem;
  }
}


@media screen and (min-width: $uol-breakpoint-m) {
  .bg-video #iframe-video {
    min-height: 40rem;
  }

  .bg-video #iframe-video iframe#video {
    min-height: 40rem;
  }
}

@media screen and (min-width: $uol-breakpoint-l) {
  .bg-video {
    margin-bottom: 5rem;
  }

  .bg-video .no-gutters {
    padding: 0 1.5rem 0 4.5rem;
  }

  .bg-video #iframe-video {
    min-height: 42rem;
  }

  .bg-video #iframe-video iframe#video {
    min-height: 42rem;
  }
}