.grad-wrapper {
  text-align: left;
}
.grad-wrapper h3 {
  text-align: center;
  margin-top: 0;
}
.grad-wrapper .grad-item {
  padding: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 0 #fff;
  box-shadow: 0 0 0 0 #fff;
  transition: box-shadow 150ms linear, background-color 150ms linear;
}
.grad-wrapper .grad-item:hover {
  background-color: #efefef;
  -webkit-box-shadow: 0 5px 5px 0 #e0e0e0;
  -moz-box-shadow: 0 5px 5px 0 #e0e0e0;
  box-shadow: 0 5px 5px 0 #e0e0e0;
}
@media screen and (min-width: 992px) {
  .grad-wrapper .grad-item {
    padding: 0;
  }
}
.grad-wrapper .grad-item img {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0;
}
@media screen and (min-width: 992px) {
  .grad-wrapper .grad-item img {
    padding: 1rem;
  }
}
.grad-wrapper .grad-item p {
  padding: 0;
}
@media screen and (min-width: 992px) {
  .grad-wrapper .grad-item p {
    padding: 1rem;
  }
}
.grad-wrapper .grad-item .read-more {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  text-decoration: underline;
  padding: 0;
}
@media screen and (min-width: 992px) {
  .grad-wrapper .grad-item .read-more {
    padding: 1rem;
  }
}