.facilities-slider {
  margin-bottom: 2rem;
  padding: 0 1.5rem;
}
@media screen and (min-width: 992px) {
  .facilities-slider {
    padding: 0 4rem;
  }
}
.facilities-slider a {
  display: block;
}
.facilities-slider a .fac-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 20rem;
}
@media screen and (min-width: 480px) {
  .facilities-slider a .fac-slide {
    min-height: 26rem;
  }
}
@media screen and (min-width: 768px) {
  .facilities-slider a .fac-slide {
    min-height: 32rem;
  }
}
@media screen and (min-width: 992px) {
  .facilities-slider a .fac-slide {
    min-height: 29.8rem;
  }
}