/* START SUSTAINABLE DEVELOPMENT GOALS */
#sdgGroupContentInstitutes,
#sdgGroupContentCentres,
#sdgGroupContentGroups,
#sdgBackToIcons {
	display: none;
}

#sdgGroupContentSpacer {
  height: 3px;
	margin: 1rem 0 0;	
}

#sdgGroupContentTitle {
	@extend %uol-white-font-default;
  margin-bottom: 2rem;
	padding: 5px; 	
}

#sdgGroupContentTitle.group1  {background-color: #e5243b;}
#sdgGroupContentTitle.group2  {background-color: #dda63a;} 
#sdgGroupContentTitle.group3  {background-color: #4c9f38;} 
#sdgGroupContentTitle.group4  {background-color: #c5192d;} 
#sdgGroupContentTitle.group5  {background-color: #ff3a21;}
#sdgGroupContentTitle.group6  {background-color: #26bde2;} 
#sdgGroupContentTitle.group7  {background-color: #fcc30b;} 
#sdgGroupContentTitle.group8  {background-color: #a21942;} 
#sdgGroupContentTitle.group9  {background-color: #fd6925;} 
#sdgGroupContentTitle.group10 {background-color: #dd1367;} 
#sdgGroupContentTitle.group11 {background-color: #fd9d24;}
#sdgGroupContentTitle.group12 {background-color: #bf8b2e;}
#sdgGroupContentTitle.group13 {background-color: #3f7e44;}
#sdgGroupContentTitle.group14 {background-color: #0a97d9;}
#sdgGroupContentTitle.group15 {background-color: #56c02b;}
#sdgGroupContentTitle.group16 {background-color: #00689d;}
#sdgGroupContentTitle.group17 {background-color: #19486a;}


#sdgGroupContent .whiteText {
  @extend %uol-white-font-default;
}


.sdgIcon img,
.sdgIconSmall img {
  margin: 1rem 0;
}


#sdgGroupContent .sub-heading {
	background-color: #002147;
	padding: 2rem 0;
	margin: 0 0 2rem;
}

/* END SUSTAINABLE DEVELOPMENT GOALS */