.showcase-slider a,
.showcase-slider .showcase-slide {
  float: left;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 0 0 0 #efefef;
  -moz-box-shadow: 0 0 0 0 #efefef;
  box-shadow: 0 0 0 0 #efefef;
  transition: box-shadow 150ms linear, background-color 150ms linear;
}
.showcase-slider a .showcase-slide,
.showcase-slider .showcase-slide {
  padding: 1.5rem;
}
.showcase-slider a .showcase-slide img,
.showcase-slider .showcase-slide img{
  width: 100%;
  -webkit-box-shadow: 0 5px 5px 0 #e0e0e0;
  -moz-box-shadow: 0 5px 5px 0 #e0e0e0;
  box-shadow: 0 5px 5px 0 #e0e0e0;
}
.showcase-slider a .showcase-slide h3,
.showcase-slider .showcase-slide h3 {
  color: #666;
  font-weight: bold;
}
.showcase-slider a:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px 0 #e0e0e0;
  -moz-box-shadow: 0 5px 5px 0 #e0e0e0;
  box-shadow: 0 5px 5px 0 #e0e0e0;
}


.showcase-slider .slick-dots {
  display: block;
  color: #fff;
  margin: 1rem 0;
  bottom: auto;
  position: relative;
}