.no-gutters {
  padding: 0;
}
.no-gutters .col-xs-6 {
  margin-left: 0;
}
@media screen and (min-width: $uol-breakpoint-md) {
  .no-gutters .col-xs-6 {
    margin-left: -3rem;
  }

}
@media screen and (min-width: $uol-breakpoint-lg) {
  .no-gutters .col-xs-6 {
    margin-left: 0;
  }
}