#videoCardModal {

  .modal-body {
    height: 28rem;
  }

  .modal-title {
    font-size: 2rem;
    line-height: 1.5;
    font-family: Georgia, serif;
  }

  .modal-header {
    padding: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &::after,
    &::before {
	    display: none;
    }
  }

  button.close {
    margin: -2px -1.6rem auto;
    padding: 1.6rem;
    font-size: 2.4rem;
    line-height: 1;

    &>span {
      font-size: 2.4rem;
	    line-height: 1;
    }
  }

  .video_iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
  }
  

}





@media (min-width: $uol-breakpoint-xl) {

  #videoCardModal {
    
    .modal-body {
      height: 65.8rem;
    }

    .modal-dialog {
      width: $uol-container-constraint;
      max-width: 100%;
    }

  }
  
}