$uol-btn-rounded-corners: false;
$uol-btn-transition: background-color 0.3s ease;

%uol-btn-style {
  background-image: none; 
  border: 1px solid transparent;
  border-radius: if($uol-btn-rounded-corners, .4rem, 0);
  color: $uol-white-100;
  cursor: pointer;
  display: inline-block; 
  font-family: $uol-font-primary;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.4rem;
  margin-bottom: 0;
  padding: .4rem .8rem;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: background-color 0.3s ease; 
  vertical-align: middle;
  white-space: nowrap; 

  &:hover {
    background-color: $bg-color-primary-hover;
    color: $uol-white-100;
    transition: background-color 0.3s ease;
  }

}



.uol-btn,
.uol-button {
  @extend %uol-btn-style;

  @each $key, $btn, $btnHover in  $uol-btn-colors {
    &--#{$key} {
      background-color: $btn;
      color: $uol-white-default;
    }

    :hover {
      background-color: $btnHover;
      transition: $uol-btn-transition;
    }

  }

}


//Bootstrap override for primary and secondary
.btn {
  @extend %uol-btn-style;

}












$btnTypes: ( 'primary', 'secondary', 'accent-primary', 'accent-secondary');

@each $btnType in $btnTypes {
  // Uol Buttons

  // Start Bootstrap Button Overrides
  .btn-#{$btnType} {
    @extend %bg-color-#{$btnType}-btn;
  }

  .btn-#{$btnType}:focus,
  .btn-#{$btnType}.focus,
  .btn-#{$btnType}:hover,
  .btn-#{$btnType}.hover,
  .btn-#{$btnType}:active,
  .btn-#{$btnType}.active,
  .btn-#{$btnType}.visited,
  .btn-#{$btnType}:visited{
    @extend %bg-color-#{$btnType}-btn-hover;
  }
  // End Bootstrap Button Overrides

}

.uol-btn--white,
.uol-button--white {
  background-color: $uol-white-100; 
  color: currentcolor;
}

.uol-btn--white:hover,
.uol-button--white:hover {
  background-color: $uol-white-300;
  color: $uol-black-100;
  transition: background-color 0.3s ease;
}

.uol-btn--transparent,
.uol-button--transparent {
  color: currentcolor;
  background-color: transparent;
}

.uol-btn-l,
.uol-button-l {
  padding: .8rem 1.2rem;
}
