.uol-section {
  //@include componantMarginPadding-y( $uol-componant-margin-top-default, $uol-componant-margin-bottom-default, 0 );
  @include componantMarginPadding-y( $uol-componant-margin-top-default, 0, 0 );
  margin: {
    left: 1.2rem;
    right: 1.2rem;
  }
  
  & [data-type="results"] {
    display: none;

    .grid {
      grid-auto-flow: row;
    }
  }

}





@each $key, $val in $uol-bg-main-colours {

  .uol-section--#{$key} {
    @extend %uol-padding-y-default;
    background-color: $val;
    padding: $uol-py-2 0;

    .uol-h1,
    .uol-h2,
    .uol-label,
    .uol-t1,
    .uol-t2 {
      color: $uol-white-default;
    }

  }

}


// Start light Grey
.uol-section--grey {
  @extend %uol-padding-y-default;
  background-color: #efefef;
  padding: $uol-py-2 0;
}


.uol-section--primary .uol-body strong {
  color: #f6f6f6;
}


.uol-section--primary .uol-standfirst {
  color: #f6f6f6;
}

.uol-section--primary .uol-body,
.uol-section--primary .uol-body p {
  color: #dedede;
}

.uol-section--primary .video_cnt:after {
  background-color: rgba(255, 255%, 255%, 20%);
}