$uol-btn-rounded-corners: false;
$uol-btn-transition: background-color 0.3s ease;


%uol-btn-style-common {
  color: $uol-white-default;
  cursor: pointer;
  display: inline-block; 
  text: {
    align: center;
    decoration: none;
  }
}


// Placeholder for standard and bootstrap overrides
%uol-btn-style-standard {
  @extend %uol-btn-style-common;
  background-image: none; 
  border: .1rem solid transparent;
  border-radius: if( $uol-btn-rounded-corners, .4rem, 0 ); 
  font: {
    family: var(--#{$prefix}font-family);
    size: 1.6rem;
    weight: normal;
  } 
  line-height: 2.4rem;
  margin-bottom: 0;
  padding: .4rem .8rem;
  touch-action: manipulation;
  transition: background-color 0.3s ease; 
  vertical-align: middle;
  white-space: nowrap; 

  &:hover {
    background-color: $bg-color-primary-hover;
    color: $uol-white-100;
    transition: background-color 0.3s ease;
  }

}


// Placeholder for common styles for headers (e.g. homepage and courses)
%uol-common-btn-style-header {
  @extend %uol-btn-style-common;
  background: 0 0;
  border: .4rem solid $uol-white-default;
  color: $uol-white-default;
  font-weight: 600;
  letter-spacing: 0.04em;
  transition: background 0.3s ease-in-out 50ms, color 0.3s ease-in-out;
}




// Start Standard UoL Buttons
.uol-btn,
.uol-button {
  @extend %uol-btn-style-standard;

  @each $key, $btn, $btnHover in  $uol-btn-colors {
    &--#{$key} {
      background-color: $btn;
      color: $uol-white-default;
      &:hover {
        background-color: $btnHover;
        transition: $uol-btn-transition;
      }
    }    
  }
}
// End Standard UoL Buttons


// Start Course page headers 
.uol-btn-courseHeader {
  @extend %uol-common-btn-style-header;
  padding: 1.1rem 2.2rem;
  margin : $uol-mt-1 $uol-mt-1 0;
  min-width: 22.5rem;

  @each $key, $btn, $btnHover in  $uol-btn-colors {
    &--#{$key} {
      &:hover {
        background-color: $btn;
        color: $uol-white-default;
      }
      &:nth-of-type(1) {
        background-color: $btn;
        &:hover {
          background-color: $bg-color-white-default;
          color:  $btnHover;
        }
      }      
    }
  }// End each loop
}

@media (min-width: $uol-breakpoint-md) {

  .uol-btn-courseHeader {
    margin-top: $uol-mt-0;
    &:nth-of-type(1) {
      margin-left: 0;
    }
  }
  
}

// End Course page header buttons




// Start Homepage page header buttons
.uol-btn-homepageHeader {
  @extend %uol-common-btn-style-header;
  display: block;
  padding: 1.1rem 2,2rem;
  pointer-events: auto;
  margin-top: 2rem;
  min-width: 21.5rem;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  @each $key, $btn, $btnHover in  $uol-btn-colors {
    &--#{$key} {

      &:nth-of-type(1),
      &:hover {
        background: $btn;
        border-color: $btn;
        color: $uol-white-font-default;
      }

      &:nth-of-type(1) {
        &:hover {
          background: $bg-color-white-default;
          color: $btn;
        }
      }       
    }
  }// End each loop
}

@media (min-width: $uol-breakpoint-md) {
  .uol-btn-homepageHeader {
    display: inline-block;
    margin: 0 1rem 0 0;
  }
}
// End Homepage page header buttons





// START BOOTSTRAP OVERRIDES

//Bootstrap overrides for primary and secondary
//.btn {
//  @extend %uol-btn-style-standard;
//}

//$btnBootstrapOverrides: 
 // 'primary' $bg-color-primary-btn $bg-color-primary-btn-hover,
//  'secondary' $bg-color-secondary-btn $bg-color-secondary-btn-hover;

//@each $key, $bgBtn, $bgBtnhover in  $btnBootstrapOverrides {
  // Uol Buttons
  
 // .btn-#{$key} {
 //   background-color: $bgBtn;
 //   &:focus,
//    &.focus,
//    &:hover,
 //   &.hover,
 //   &:active,
 //   &.active,
//    &.visited,
//    &:visited{
//      background-color: $bgBtnhover;
//    }
//  }
//}

// END BOOTSTRAP OVERRIDES


.uol-btn--white,
.uol-button--white {
  background-color: $uol-white-default;
  color: $uol-dark-font-default !important;
}

.uol-btn--white:hover,
.uol-button--white:hover {
  background-color: $uol-white-300;
  color: $uol-dark-font-default !important;
  transition: background-color 0.3s ease;
}

.uol-btn--transparent,
.uol-button--transparent {
  color: currentcolor;
  background-color: transparent;
}

.uol-btn-l,
.uol-button-l {
  padding: .8rem 1.2rem;
}
