.uol-pullquote__copy-course-usp {
  display: $uol-display-flex-imp;
  flex-wrap: wrap;
  max-width: 100%;
  text-align: left;
  
  div {
    margin-bottom: $uol-mb-1;
    padding-right: $uol-mr-1;   
  } 

  &__title {
    text-align: center;
    width: 100%;   
  }

  &__item {
    display: $uol-display-flex-imp;
    &__icon {
      padding-right: $uol-pr-5;
      width: 10%;
    }

    p {
      align-items: center;
      display: $uol-display-flex-imp;
    }

  }

  hr {
    @include horizLineMargin( 0, 0.6rem, auto,  50%);
  }
  
}


// START BREAKPOINTS

@media (min-width: $uol-breakpoint-md) {

  .uol-pullquote__copy-course-usp {

    & div:not(&__title) {
      width: 50%;
    }

    &__title {
      text-align: left;
    }

    hr {
      @include horizLineMargin( 0, 0.6rem, 0,  50%);
    }

  }
  
}


@media (min-width: $uol-breakpoint-xl) {

  .uol-pullquote__copy-course-usp {
    max-width: calc(50% + 150px) !important;
  }

}

// END BREAKPOINTS
